ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    BFL-01-1
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BFL-01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          53125.0000    -12163.5000    4120.0000
    CONNECTION-REFERENCE     AFU-002-N-3 5
END-CONNECTION-EQUIPMENT
    CO-ORDS          53728.3119    -12883.0876    4120.0000
    CONNECTION-REFERENCE     EQ02-002-N-1 5
INDUCTION-START
    CO-ORDS          53125.0000    -12166.5000    4120.0000
    TEXT Induction Bend
PIPE
    END-POINT        53125.0000    -12166.5000    4120.0000    150.0000
    END-POINT        53125.0000    -12558.4689    4120.0000    150.0000
    ITEM-CODE  OLYMPIC_Rev1-19323
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  27.2
BEND
    END-POINT        53125.0000    -12558.4689    4120.0000    150.0000
    END-POINT        53223.6970    -12699.4228    4120.0000    150.0000
    CENTRE-POINT     53125.0000    -12663.5000    4120.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19323
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   7000
    BEND-RADIUS  150.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  4.98466
PIPE
    END-POINT        53223.6970    -12699.4228    4120.0000    150.0000
    END-POINT        53323.4923    -12735.7453    4120.0000    150.0000
    ITEM-CODE  OLYMPIC_Rev1-19323
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  27.2
INDUCTION-END
    CO-ORDS          53323.4923    -12735.7453    4120.0000
WELD
    END-POINT        53125.0000    -12166.5000    4120.0000    150.0000
    END-POINT        53125.0000    -12166.5000    4120.0000    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -12166.5000    4120.0000    150.0000  FL
    END-POINT        53125.0000    -12166.5000    4120.0000    150.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21523
    ITEM-DESCRIPTION  FLANGE, PN6, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN150, PN6, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  4.76
GASKET
    END-POINT        53125.0000    -12166.5000    4120.0000    150.0000
    END-POINT        53125.0000    -12163.5000    4120.0000    150.0000
    ITEM-CODE  OLYMPIC_Rev1-17979
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
WELD
    END-POINT        53323.4923    -12735.7453    4120.0000    150.0000
    END-POINT        53323.4923    -12735.7453    4120.0000    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        53490.5697    -12796.5565    4120.0000    250.0000  BW
    END-POINT        53323.4923    -12735.7453    4120.0000    150.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-19077
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  8.7
WELD
    END-POINT        53490.5697    -12796.5565    4120.0000    250.0000
    END-POINT        53490.5697    -12796.5565    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        53555.4085    -12820.1559    4120.0000    250.0000
    END-POINT        53490.5697    -12796.5565    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
WELD
    END-POINT        53555.4085    -12820.1559    4120.0000    250.0000
    END-POINT        53555.4085    -12820.1559    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53555.4085    -12820.1559    4120.0000    250.0000  FL
    END-POINT        53555.4085    -12820.1559    4120.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        53558.2276    -12821.1819    4120.0000    250.0000
    END-POINT        53555.4085    -12820.1559    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
VALVE
    END-POINT        53622.1266    -12844.4393    4120.0000    250.0000  FL
    END-POINT        53558.2276    -12821.1819    4120.0000    250.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-21749
    ITEM-DESCRIPTION  BUTTERFLY VALVE WF, 5K, OWNER
    FABRICATION-ITEM
    TAG  BA-004
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CAST IRON
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_BUTTERFLY VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  19.2
    SPINDLE-DIRECTION  UP
    DIRECTION  UP
GASKET
    END-POINT        53622.1266    -12844.4393    4120.0000    250.0000
    END-POINT        53624.9457    -12845.4654    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        53624.9457    -12845.4654    4120.0000    250.0000  FL
    END-POINT        53624.9457    -12845.4654    4120.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
WELD
    END-POINT        53624.9457    -12845.4654    4120.0000    250.0000
    END-POINT        53624.9457    -12845.4654    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        53624.9457    -12845.4654    4120.0000    250.0000
    END-POINT        53725.4928    -12882.0615    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
WELD
    END-POINT        53725.4928    -12882.0615    4120.0000    250.0000
    END-POINT        53725.4928    -12882.0615    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53725.4928    -12882.0615    4120.0000    250.0000  FL
    END-POINT        53725.4928    -12882.0615    4120.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        53728.3119    -12883.0876    4120.0000    250.0000
    END-POINT        53725.4928    -12882.0615    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPELINE-REFERENCE    BFL-01-2
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BFL-01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          54480.0660    -13156.7037    4120.0000
    CONNECTION-REFERENCE     EQ02-002-N-2 5
INDUCTION-START
    CO-ORDS          52808.7520    -16297.0001    8946.1367
    TEXT Induction Bend
PIPE
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000
    END-POINT        52743.5069    -14987.3455    7160.8928    750.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
BEND
    END-POINT        52743.5069    -14987.3455    7160.8928    750.0000
    END-POINT        52714.9562    -14869.5140    7013.5062    750.0000
    CENTRE-POINT     52740.6732    -14930.4647    7083.3562
    SKEY  PB
    FABRICATION-ITEM
    ANGLE   1462
    BEND-RADIUS  750.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  33.68018
PIPE
    END-POINT        52714.9562    -14869.5140    7013.5062    750.0000
    END-POINT        51994.9566    -13163.0760    5057.9120    750.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
    TAP-CONNECTION  
    CO-ORDS          52268.1744    -13810.6169    5800.0000    250.0000
    TAP-CONNECTION  
    CO-ORDS          52013.5287    -13870.2323    5894.8927    250.0000
    TAP-CONNECTION  
    CO-ORDS          52502.2601    -13643.4112    5489.8661    250.0000
BEND
    END-POINT        51994.9566    -13163.0760    5057.9120    750.0000
    END-POINT        51900.0000    -12582.8002    4800.0000    750.0000
    CENTRE-POINT     51900.0000    -12938.0238    4800.0000
    SKEY  PB
    FABRICATION-ITEM
    ANGLE   5069
    BEND-RADIUS  750.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  116.775435
PIPE
    END-POINT        51900.0000    -12582.8002    4800.0000    750.0000
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
INDUCTION-END
    CO-ORDS          51900.0000    -12224.8044    4800.0000
    CONTINUATION 
WELD
    END-POINT        52268.1744    -13810.6169    5800.0000    250.0000
    END-POINT        52268.1744    -13810.6169    5800.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        52268.1744    -13810.6169    5800.0000    250.0000
    END-POINT        51973.0952    -13684.9244    5800.0000    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
    CONTINUATION 
WELD
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000  FL
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
    CONTINUATION 
GASKET
    END-POINT        51900.0000    -12221.8044    4800.0000    750.0000
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
WELD
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000  FL
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
    CONTINUATION 
GASKET
    END-POINT        52808.8403    -16298.7739    8948.5546    750.0000
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
WELD
    END-POINT        52013.5287    -13870.2323    5894.8927    250.0000
    END-POINT        52013.5287    -13870.2323    5894.8927    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        51596.7465    -13742.5934    5783.0852    250.0000
    END-POINT        52013.5287    -13870.2323    5894.8927    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
    CONTINUATION 
WELD
    END-POINT        51596.7465    -13742.5934    5783.0852    250.0000
    END-POINT        51596.7465    -13742.5934    5783.0852    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          52502.2601    -13643.4112    5489.8661
    PIPELINE-REFERENCE    EBL-01
PIPE
    END-POINT        52800.5460    -13596.8287    5312.7911    250.0000
    END-POINT        52502.2601    -13643.4112    5489.8661    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
WELD
    END-POINT        52502.2601    -13643.4112    5489.8661    250.0000
    END-POINT        52502.2601    -13643.4112    5489.8661    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        52800.5460    -13596.8287    5312.7911    250.0000  FL
    END-POINT        52800.5460    -13596.8287    5312.7911    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        52800.5460    -13596.8287    5312.7911    250.0000
    END-POINT        52803.1028    -13596.4294    5311.2733    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
WELD
    END-POINT        52800.5460    -13596.8287    5312.7911    250.0000
    END-POINT        52800.5460    -13596.8287    5312.7911    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          52803.1028    -13596.4294    5311.2733
    TEXT Induction Bend
PIPE
    END-POINT        52803.1028    -13596.4294    5311.2733    250.0000
    END-POINT        53047.0345    -13558.3352    5166.4652    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        53047.0345    -13558.3352    5166.4652    250.0000
    END-POINT        53219.2672    -13581.9954    5117.4648    250.0000
    CENTRE-POINT     53129.5765    -13545.4448    5117.4648
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   4235
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  10.940321
PIPE
    END-POINT        53219.2672    -13581.9954    5117.4648    250.0000
    END-POINT        54271.6744    -14010.8699    5117.4648    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        54271.6744    -14010.8699    5117.4648    250.0000
    END-POINT        54565.7659    -13951.6587    4930.3706    250.0000
    CENTRE-POINT     54503.1885    -14105.2161    5117.4648
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        54565.7659    -13951.6587    4930.3706    250.0000
    END-POINT        54606.5037    -13851.6929    4808.5723    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
INDUCTION-END
    CO-ORDS          54606.5037    -13851.6929    4808.5723
WELD
    END-POINT        52803.1028    -13596.4294    5311.2733    250.0000
    END-POINT        52803.1028    -13596.4294    5311.2733    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        52803.1028    -13596.4294    5311.2733    250.0000  FL
    END-POINT        52803.1028    -13596.4294    5311.2733    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        54480.0660    -13156.7037    4120.0000    250.0000
    END-POINT        54482.8851    -13157.7298    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
INDUCTION-START
    CO-ORDS          54482.8851    -13157.7298    4120.0000
    TEXT Induction Bend
PIPE
    END-POINT        54482.8851    -13157.7298    4120.0000    250.0000
    END-POINT        54595.9062    -13198.8661    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        54595.9062    -13198.8661    4120.0000    250.0000
    END-POINT        54772.6398    -13444.0147    4311.8574    250.0000
    CENTRE-POINT     54836.8103    -13286.5480    4120.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9144
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.619823
PIPE
    END-POINT        54772.6398    -13444.0147    4311.8574    250.0000
    END-POINT        54703.2483    -13614.2933    4519.3247    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
INDUCTION-END
    CO-ORDS          54703.2483    -13614.2933    4519.3247
WELD
    END-POINT        54482.8851    -13157.7298    4120.0000    250.0000
    END-POINT        54482.8851    -13157.7298    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        54482.8851    -13157.7298    4120.0000    250.0000  FL
    END-POINT        54482.8851    -13157.7298    4120.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        54607.2546    -13849.8502    4806.3272    250.0000
    END-POINT        54606.5037    -13851.6929    4808.5723    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        54606.5037    -13851.6929    4808.5723    250.0000  FL
    END-POINT        54606.5037    -13851.6929    4808.5723    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
WELD
    END-POINT        54606.5037    -13851.6929    4808.5723    250.0000
    END-POINT        54606.5037    -13851.6929    4808.5723    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        54635.7899    -13779.8281    4721.0123    250.0000  FL
    END-POINT        54607.2546    -13849.8502    4806.3272    250.0000  FL
    SKEY  VCFL
    ITEM-CODE  OLYMPIC_Rev1-21601
    ITEM-DESCRIPTION  DUAL CHECK VALVE WF, 5K
    FABRICATION-ITEM
    TAG  BA-006
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STAINLESS  STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_DUAL CHECK VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  27
    FLOW  1
GASKET
    END-POINT        54635.7899    -13779.8281    4721.0123    250.0000
    END-POINT        54636.5408    -13777.9854    4718.7671    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        54636.5408    -13777.9854    4718.7671    250.0000
    END-POINT        54684.7254    -13659.7463    4574.7046    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
WELD
    END-POINT        54636.5408    -13777.9854    4718.7671    250.0000
    END-POINT        54636.5408    -13777.9854    4718.7671    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        54636.5408    -13777.9854    4718.7671    250.0000  FL
    END-POINT        54636.5408    -13777.9854    4718.7671    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
FLANGE
    END-POINT        54684.7254    -13659.7463    4574.7046    250.0000  FL
    END-POINT        54684.7254    -13659.7463    4574.7046    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21363
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  11.85
WELD
    END-POINT        54684.7254    -13659.7463    4574.7046    250.0000
    END-POINT        54684.7254    -13659.7463    4574.7046    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        54685.4763    -13657.9036    4572.4595    250.0000
    END-POINT        54684.7254    -13659.7463    4574.7046    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17646
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
VALVE
    END-POINT        54685.4763    -13657.9036    4572.4595    250.0000  FL
    END-POINT        54702.4973    -13616.1360    4521.5699    250.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-22105
    ITEM-DESCRIPTION  PNEUMATIC VALVES PV
    FABRICATION-ITEM
    TAG  PV-102
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STAINLESS STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PNEUMATIC VALVES PV
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  54
    FLOW  1
GASKET
    END-POINT        54702.4973    -13616.1360    4521.5699    250.0000
    END-POINT        54703.2483    -13614.2933    4519.3247    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17646
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
WELD
    END-POINT        54703.2483    -13614.2933    4519.3247    250.0000
    END-POINT        54703.2483    -13614.2933    4519.3247    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        54703.2483    -13614.2933    4519.3247    250.0000  FL
    END-POINT        54703.2483    -13614.2933    4519.3247    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21363
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  11.85
PIPELINE-REFERENCE    BFL-01-3
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BFL-01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          49650.0000    -11638.5000    4120.0000
    CONNECTION-REFERENCE     AFU-001-N-3 5
END-CONNECTION-EQUIPMENT
    CO-ORDS          50178.0000    -12069.3000    4120.0000
    CONNECTION-REFERENCE     EQ02-001-N-2 5
INDUCTION-START
    CO-ORDS          49650.0000    -11819.3000    4120.0000
    TEXT Induction Bend
BEND
    END-POINT        49650.0000    -11819.3000    4120.0000    250.0000
    END-POINT        49892.1158    -12069.1756    4120.0000    250.0000
    CENTRE-POINT     49650.0000    -12061.5363    4120.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   8819
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  22.780963
PIPE
    END-POINT        49892.1158    -12069.1756    4120.0000    250.0000
    END-POINT        49924.8214    -12069.3000    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
INDUCTION-END
    CO-ORDS          49924.8214    -12069.3000    4120.0000
WELD
    END-POINT        49650.0000    -11819.3000    4120.0000    250.0000
    END-POINT        49650.0000    -11819.3000    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        49650.0000    -11819.3000    4120.0000    250.0000  BW
    END-POINT        49650.0000    -11641.5000    4120.0000    150.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-20877
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  8.7
START-CO-ORDS      49650.0000          -11641.5000          4120.0000
WELD
    END-POINT        49650.0000    -11641.5000    4120.0000    150.0000
    END-POINT        49650.0000    -11641.5000    4120.0000    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -11641.5000    4120.0000    150.0000  FL
    END-POINT        49650.0000    -11641.5000    4120.0000    150.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21523
    ITEM-DESCRIPTION  FLANGE, PN6, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN150, PN6, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  4.76
GASKET
    END-POINT        49650.0000    -11641.5000    4120.0000    150.0000
    END-POINT        49650.0000    -11638.5000    4120.0000    150.0000
    ITEM-CODE  OLYMPIC_Rev1-17979
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
GASKET
    END-POINT        49927.8214    -12069.3000    4120.0000    250.0000
    END-POINT        49924.8214    -12069.3000    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        49924.8214    -12069.3000    4120.0000    250.0000  FL
    END-POINT        49924.8214    -12069.3000    4120.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
WELD
    END-POINT        49924.8214    -12069.3000    4120.0000    250.0000
    END-POINT        49924.8214    -12069.3000    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        49995.8214    -12069.3000    4120.0000    250.0000  FL
    END-POINT        49927.8214    -12069.3000    4120.0000    250.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-21749
    ITEM-DESCRIPTION  BUTTERFLY VALVE WF, 5K, OWNER
    FABRICATION-ITEM
    TAG  BA-003
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CAST IRON
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_BUTTERFLY VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  19.2
    SPINDLE-DIRECTION  UP
    DIRECTION  UP
GASKET
    END-POINT        49995.8214    -12069.3000    4120.0000    250.0000
    END-POINT        49998.8214    -12069.3000    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        50175.0000    -12069.3000    4120.0000    250.0000
    END-POINT        49998.8214    -12069.3000    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
WELD
    END-POINT        49998.8214    -12069.3000    4120.0000    250.0000
    END-POINT        49998.8214    -12069.3000    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49998.8214    -12069.3000    4120.0000    250.0000  FL
    END-POINT        49998.8214    -12069.3000    4120.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        50178.0000    -12069.3000    4120.0000    250.0000
    END-POINT        50175.0000    -12069.3000    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        50175.0000    -12069.3000    4120.0000    250.0000  FL
    END-POINT        50175.0000    -12069.3000    4120.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
WELD
    END-POINT        50175.0000    -12069.3000    4120.0000    250.0000
    END-POINT        50175.0000    -12069.3000    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    BFL-01-4
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BFL-01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
INDUCTION-START
    CO-ORDS          52808.7520    -16297.0001    8946.1367
    TEXT Induction Bend
PIPE
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000
    END-POINT        52743.5069    -14987.3455    7160.8928    750.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
BEND
    END-POINT        52743.5069    -14987.3455    7160.8928    750.0000
    END-POINT        52714.9562    -14869.5140    7013.5062    750.0000
    CENTRE-POINT     52740.6732    -14930.4647    7083.3562
    SKEY  PB
    FABRICATION-ITEM
    ANGLE   1462
    BEND-RADIUS  750.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  33.68018
PIPE
    END-POINT        52714.9562    -14869.5140    7013.5062    750.0000
    END-POINT        51994.9566    -13163.0760    5057.9120    750.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
    TAP-CONNECTION  
    CO-ORDS          52268.1744    -13810.6169    5800.0000    250.0000
    TAP-CONNECTION  
    CO-ORDS          52013.5287    -13870.2323    5894.8927    250.0000
    TAP-CONNECTION  
    CO-ORDS          52502.2601    -13643.4112    5489.8661    250.0000
BEND
    END-POINT        51994.9566    -13163.0760    5057.9120    750.0000
    END-POINT        51900.0000    -12582.8002    4800.0000    750.0000
    CENTRE-POINT     51900.0000    -12938.0238    4800.0000
    SKEY  PB
    FABRICATION-ITEM
    ANGLE   5069
    BEND-RADIUS  750.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  116.775435
PIPE
    END-POINT        51900.0000    -12582.8002    4800.0000    750.0000
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
INDUCTION-END
    CO-ORDS          51900.0000    -12224.8044    4800.0000
    CONTINUATION 
WELD
    END-POINT        52268.1744    -13810.6169    5800.0000    250.0000
    END-POINT        52268.1744    -13810.6169    5800.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        52268.1744    -13810.6169    5800.0000    250.0000
    END-POINT        51973.0952    -13684.9244    5800.0000    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
    CONTINUATION 
WELD
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000  FL
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
    CONTINUATION 
GASKET
    END-POINT        51900.0000    -12221.8044    4800.0000    750.0000
    END-POINT        51900.0000    -12224.8044    4800.0000    750.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
WELD
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000  FL
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
    CONTINUATION 
GASKET
    END-POINT        52808.8403    -16298.7739    8948.5546    750.0000
    END-POINT        52808.7520    -16297.0001    8946.1367    750.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
WELD
    END-POINT        52502.2601    -13643.4112    5489.8661    250.0000
    END-POINT        52502.2601    -13643.4112    5489.8661    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        52800.5460    -13596.8287    5312.7911    250.0000
    END-POINT        52502.2601    -13643.4112    5489.8661    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
    CONTINUATION 
WELD
    END-POINT        52800.5460    -13596.8287    5312.7911    250.0000
    END-POINT        52800.5460    -13596.8287    5312.7911    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          52013.5287    -13870.2323    5894.8927
    PIPELINE-REFERENCE    EBL-01
END-CONNECTION-EQUIPMENT
    CO-ORDS          50978.0000    -12069.3000    4120.0000
    CONNECTION-REFERENCE     EQ02-001-N-1 5
GASKET
    END-POINT        50978.0000    -12069.3000    4120.0000    250.0000
    END-POINT        50981.0000    -12069.3000    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        50981.0000    -12069.3000    4120.0000    250.0000  FL
    END-POINT        50981.0000    -12069.3000    4120.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
WELD
    END-POINT        50981.0000    -12069.3000    4120.0000    250.0000
    END-POINT        50981.0000    -12069.3000    4120.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          51328.0000    -12246.0767    4296.7767
    TEXT Induction Bend
BEND
    END-POINT        51328.0000    -12246.0767    4296.7767    250.0000
    END-POINT        51078.0000    -12069.3000    4120.0000    250.0000
    CENTRE-POINT     51328.0000    -12069.3000    4120.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        51078.0000    -12069.3000    4120.0000    250.0000
    END-POINT        50981.0000    -12069.3000    4120.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
INDUCTION-END
    CO-ORDS          50981.0000    -12069.3000    4120.0000
PIPE
    END-POINT        51328.0000    -12246.0767    4296.7767    250.0000
    END-POINT        51328.0000    -12350.0214    4400.7214    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
FLANGE
    END-POINT        51328.0000    -12352.1427    4402.8427    250.0000  FL
    END-POINT        51328.0000    -12352.1427    4402.8427    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        51328.0000    -12352.1427    4402.8427    250.0000
    END-POINT        51328.0000    -12350.0214    4400.7214    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
WELD
    END-POINT        51328.0000    -12352.1427    4402.8427    250.0000
    END-POINT        51328.0000    -12352.1427    4402.8427    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        51328.0000    -12352.1427    4402.8427    250.0000
    END-POINT        51328.0000    -13154.1039    5204.8039    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
WELD
    END-POINT        51328.0000    -12350.0214    4400.7214    250.0000
    END-POINT        51328.0000    -12350.0214    4400.7214    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        51328.0000    -12350.0214    4400.7214    250.0000  FL
    END-POINT        51328.0000    -12350.0214    4400.7214    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        51328.0000    -13156.2252    5206.9252    250.0000
    END-POINT        51328.0000    -13154.1039    5204.8039    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17646
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
VALVE
    END-POINT        51328.0000    -13156.2252    5206.9252    250.0000  FL
    END-POINT        51328.0000    -13204.3085    5255.0085    250.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-22105
    ITEM-DESCRIPTION  PNEUMATIC VALVES PV
    FABRICATION-ITEM
    TAG  PV-101
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STAINLESS STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PNEUMATIC VALVES PV
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  54
    FLOW  1
WELD
    END-POINT        51328.0000    -13154.1039    5204.8039    250.0000
    END-POINT        51328.0000    -13154.1039    5204.8039    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        51328.0000    -13154.1039    5204.8039    250.0000  FL
    END-POINT        51328.0000    -13154.1039    5204.8039    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21363
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  11.85
GASKET
    END-POINT        51328.0000    -13204.3085    5255.0085    250.0000
    END-POINT        51328.0000    -13206.4298    5257.1298    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17646
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        51328.0000    -13206.4298    5257.1298    250.0000  FL
    END-POINT        51328.0000    -13206.4298    5257.1298    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21363
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  11.85
WELD
    END-POINT        51328.0000    -13206.4298    5257.1298    250.0000
    END-POINT        51328.0000    -13206.4298    5257.1298    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        51328.0000    -13206.4298    5257.1298    250.0000
    END-POINT        51328.0000    -13381.0852    5431.7852    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
GASKET
    END-POINT        51328.0000    -13383.2065    5433.9065    250.0000
    END-POINT        51328.0000    -13381.0852    5431.7852    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
VALVE
    END-POINT        51328.0000    -13383.2065    5433.9065    250.0000  FL
    END-POINT        51328.0000    -13463.8167    5514.5167    250.0000  FL
    SKEY  VCFL
    ITEM-CODE  OLYMPIC_Rev1-21601
    ITEM-DESCRIPTION  DUAL CHECK VALVE WF, 5K
    FABRICATION-ITEM
    TAG  BA-005
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STAINLESS  STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_DUAL CHECK VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  27
    FLOW  1
WELD
    END-POINT        51328.0000    -13381.0852    5431.7852    250.0000
    END-POINT        51328.0000    -13381.0852    5431.7852    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        51328.0000    -13381.0852    5431.7852    250.0000  FL
    END-POINT        51328.0000    -13381.0852    5431.7852    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        51328.0000    -13463.8167    5514.5167    250.0000
    END-POINT        51328.0000    -13465.9380    5516.6380    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        51328.0000    -13465.9380    5516.6380    250.0000  FL
    END-POINT        51328.0000    -13465.9380    5516.6380    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
WELD
    END-POINT        51328.0000    -13465.9380    5516.6380    250.0000
    END-POINT        51328.0000    -13465.9380    5516.6380    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          51593.9680    -13741.7425    5782.3398
    TEXT Induction Bend
PIPE
    END-POINT        51593.9680    -13741.7425    5782.3398    250.0000
    END-POINT        51483.8804    -13708.0284    5752.8073    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        51483.8804    -13708.0284    5752.8073    250.0000
    END-POINT        51328.0000    -13541.2813    5591.9813    250.0000
    CENTRE-POINT     51328.0000    -13660.2903    5710.9903
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   6790
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  17.538693
PIPE
    END-POINT        51328.0000    -13541.2813    5591.9813    250.0000
    END-POINT        51328.0000    -13465.9380    5516.6380    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
INDUCTION-END
    CO-ORDS          51328.0000    -13465.9380    5516.6380
WELD
    END-POINT        51593.9680    -13741.7425    5782.3398    250.0000
    END-POINT        51593.9680    -13741.7425    5782.3398    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        51593.9680    -13741.7425    5782.3398    250.0000  FL
    END-POINT        51593.9680    -13741.7425    5782.3398    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
GASKET
    END-POINT        51596.7465    -13742.5934    5783.0852    250.0000
    END-POINT        51593.9680    -13741.7425    5782.3398    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17987
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        51596.7465    -13742.5934    5783.0852    250.0000  FL
    END-POINT        51596.7465    -13742.5934    5783.0852    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
WELD
    END-POINT        51596.7465    -13742.5934    5783.0852    250.0000
    END-POINT        51596.7465    -13742.5934    5783.0852    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        51596.7465    -13742.5934    5783.0852    250.0000
    END-POINT        52013.5287    -13870.2323    5894.8927    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
WELD
    END-POINT        52013.5287    -13870.2323    5894.8927    250.0000
    END-POINT        52013.5287    -13870.2323    5894.8927    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  OLYMPIC_Rev1-19323
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-150
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-19077
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)
ITEM-CODE  Buttweld-250
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-19327
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  OLYMPIC_Rev1-18327
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN250, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-17987
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-21749
    DESCRIPTION  BUTTERFLY VALVE WF, 5K, OWNER
    Schedule  
    PressureClass  5
    Material  CAST IRON
    ShortDescription  BUTTERFLY VALVE
ITEM-CODE  OLYMPIC_Rev1-21523
    DESCRIPTION  FLANGE, PN6, DIN
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN150, PN6, DIN
ITEM-CODE  OLYMPIC_Rev1-17979
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-21363
    DESCRIPTION  FLANGE, PN10, DIN
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN250, PN10, DIN
ITEM-CODE  OLYMPIC_Rev1-17646
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-22105
    DESCRIPTION  PNEUMATIC VALVES PV
    Schedule  
    PressureClass  10
    Material  STAINLESS STEEL
    ShortDescription  PNEUMATIC VALVES PV
ITEM-CODE  OLYMPIC_Rev1-21601
    DESCRIPTION  DUAL CHECK VALVE WF, 5K
    Schedule  
    PressureClass  5
    Material  STAINLESS  STEEL
    ShortDescription  DUAL CHECK VALVE
ITEM-CODE  Tapweld-250
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Tapweld
ITEM-CODE  OLYMPIC_Rev1-20877
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)