ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    BWL-01-1
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BWL-01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          49650.0000    -9975.0000    5245.0000
    CONNECTION-REFERENCE     AFU-001-N-2 5
FLANGE
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        49650.0000    -6960.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          49374.1746    -8361.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          49925.8254    -8361.0000    5245.0000    80.0000
    CONTINUATION 
WELD
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
    CONTINUATION 
WELD
    END-POINT        49650.0000    -6960.0000    5245.0000    550.0000
    END-POINT        49650.0000    -6960.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          49650.0000    -8662.0000    5245.0000
    PIPELINE-REFERENCE    DOS-05
GASKET
    END-POINT        49650.0000    -9972.0000    5245.0000    600.0000
    END-POINT        49650.0000    -9975.0000    5245.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-18002
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        49650.0000    -9972.0000    5245.0000    600.0000
    END-POINT        49650.0000    -9872.0000    5245.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-19341
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  141
WELD
    END-POINT        49650.0000    -9972.0000    5245.0000    600.0000
    END-POINT        49650.0000    -9972.0000    5245.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -9972.0000    5245.0000    600.0000  FL
    END-POINT        49650.0000    -9972.0000    5245.0000    600.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21539
    ITEM-DESCRIPTION  FLANGE, PN6, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN600, PN6, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  39
REDUCER-CONCENTRIC
    END-POINT        49650.0000    -9872.0000    5245.0000    600.0000  BW
    END-POINT        49650.0000    -9472.0000    5245.0000    500.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-21005
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  51.4
WELD
    END-POINT        49650.0000    -9872.0000    5245.0000    600.0000
    END-POINT        49650.0000    -9872.0000    5245.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49650.0000    -9375.5000    5245.0000    500.0000
    END-POINT        49650.0000    -9472.0000    5245.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        49650.0000    -9472.0000    5245.0000    500.0000
    END-POINT        49650.0000    -9472.0000    5245.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        49650.0000    -9372.5000    5245.0000    500.0000
    END-POINT        49650.0000    -9375.5000    5245.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17656
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        49650.0000    -9375.5000    5245.0000    500.0000  FL
    END-POINT        49650.0000    -9375.5000    5245.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21373
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  37.6
WELD
    END-POINT        49650.0000    -9375.5000    5245.0000    500.0000
    END-POINT        49650.0000    -9375.5000    5245.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        49650.0000    -9245.5000    5245.0000    500.0000  FL
    END-POINT        49650.0000    -9372.5000    5245.0000    500.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-22101
    ITEM-DESCRIPTION  PNEUMATIC VALVES PV
    FABRICATION-ITEM
    TAG  PV-001
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STAINLESS STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PNEUMATIC VALVES PV
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  244
    FLOW  1
GASKET
    END-POINT        49650.0000    -9245.5000    5245.0000    500.0000
    END-POINT        49650.0000    -9242.5000    5245.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17656
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
PIPE
    END-POINT        49650.0000    -9139.0000    5245.0000    500.0000
    END-POINT        49650.0000    -9242.5000    5245.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        49650.0000    -9242.5000    5245.0000    500.0000
    END-POINT        49650.0000    -9242.5000    5245.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -9242.5000    5245.0000    500.0000  FL
    END-POINT        49650.0000    -9242.5000    5245.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21373
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  37.6
WELD
    END-POINT        49650.0000    -9139.0000    5245.0000    500.0000
    END-POINT        49650.0000    -9139.0000    5245.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        49650.0000    -8739.0000    5245.0000    550.0000  BW
    END-POINT        49650.0000    -9139.0000    5245.0000    500.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-21007
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  49.03
WELD
    END-POINT        49650.0000    -8739.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8739.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49650.0000    -8665.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8739.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
WELD
    END-POINT        49650.0000    -8665.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8665.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -8665.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -8665.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        49650.0000    -8665.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPELINE-REFERENCE    BWL-01-2
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BWL-01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          49650.0000    -7959.0000    4295.0000
    CONNECTION-REFERENCE     FT-001-N-2 10
FLANGE
    END-POINT        49650.0000    -6960.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -6960.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        49650.0000    -6960.0000    5245.0000    550.0000
    END-POINT        49650.0000    -6960.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        49650.0000    -6960.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          49374.1746    -8361.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          49925.8254    -8361.0000    5245.0000    80.0000
    CONTINUATION 
WELD
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -8662.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          49650.0000    -6960.0000    5245.0000
    PIPELINE-REFERENCE    DOS-05
GASKET
    END-POINT        48020.0000    -5121.0000    3580.0000    550.0000
    END-POINT        48017.0000    -5121.0000    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        48017.0000    -5121.0000    3580.0000    550.0000  FL
    END-POINT        48017.0000    -5121.0000    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        48017.0000    -5121.0000    3580.0000    550.0000
    END-POINT        48017.0000    -5121.0000    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        48020.0000    -5121.0000    3580.0000    550.0000
    END-POINT        48970.0000    -5121.0000    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          48525.0000    -5210.1178    3654.8757    500.0000
START-CO-ORDS      48020.0000          -5121.0000          3580.0000
WELD
    END-POINT        48020.0000    -5121.0000    3580.0000    550.0000
    END-POINT        48020.0000    -5121.0000    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        48020.0000    -5121.0000    3580.0000    550.0000  FL
    END-POINT        48020.0000    -5121.0000    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
PIPE
    END-POINT        48525.0000    -5586.8861    3971.4319    500.0000
    END-POINT        48525.0000    -5210.1178    3654.8757    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
GASKET
    END-POINT        48525.0000    -5589.1830    3973.3618    500.0000
    END-POINT        48525.0000    -5586.8861    3971.4319    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17997
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        48525.0000    -5589.1830    3973.3618    500.0000  FL
    END-POINT        48525.0000    -5589.1830    3973.3618    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        48525.0000    -5589.1830    3973.3618    500.0000
    END-POINT        48525.0000    -5589.1830    3973.3618    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
BEND
    END-POINT        49025.0000    -5972.0000    4295.0000    500.0000  PL
    END-POINT        48525.0000    -5589.1830    3973.3618    500.0000  PL
    CENTRE-POINT     48525.0000    -5972.0000    4295.0000
    SKEY  PBBW
    ITEM-CODE  OLYMPIC_Rev1-19337-9000
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  500.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  91.891585
WELD
    END-POINT        48525.0000    -5586.8861    3971.4319    500.0000
    END-POINT        48525.0000    -5586.8861    3971.4319    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        48525.0000    -5586.8861    3971.4319    500.0000  FL
    END-POINT        48525.0000    -5586.8861    3971.4319    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        48525.0000    -5210.1178    3654.8757    500.0000
    END-POINT        48525.0000    -5210.1178    3654.8757    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        48973.0000    -5121.0000    3580.0000    550.0000
    END-POINT        48970.0000    -5121.0000    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        48970.0000    -5121.0000    3580.0000    550.0000  FL
    END-POINT        48970.0000    -5121.0000    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        48970.0000    -5121.0000    3580.0000    550.0000
    END-POINT        48970.0000    -5121.0000    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        48973.0000    -5121.0000    3580.0000    550.0000  FL
    END-POINT        49141.0000    -5121.0000    3580.0000    550.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-21219
    ITEM-DESCRIPTION  BUTTERFLY VALVE WF, 5K
    FABRICATION-ITEM
    TAG  BA-526F
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CAST IRON
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_BUTTERFLY VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  148
    SPINDLE-DIRECTION  UP
    DIRECTION  UP
WELD
    END-POINT        49025.0000    -5972.0000    4295.0000    500.0000
    END-POINT        49025.0000    -5972.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49025.0000    -5972.0000    4295.0000    500.0000  FL
    END-POINT        49025.0000    -5972.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
GASKET
    END-POINT        49025.0000    -5972.0000    4295.0000    500.0000
    END-POINT        49028.0000    -5972.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17997
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        49028.0000    -5972.0000    4295.0000    500.0000  FL
    END-POINT        49028.0000    -5972.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        49028.0000    -5972.0000    4295.0000    500.0000
    END-POINT        49028.0000    -5972.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49028.0000    -5972.0000    4295.0000    500.0000
    END-POINT        49150.0000    -5972.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
GASKET
    END-POINT        49141.0000    -5121.0000    3580.0000    550.0000
    END-POINT        49144.0000    -5121.0000    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        49144.0000    -5121.0000    3580.0000    550.0000
    END-POINT        50094.0000    -5121.0000    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          49650.0000    -5121.0000    3859.4000    550.0000
WELD
    END-POINT        49144.0000    -5121.0000    3580.0000    550.0000
    END-POINT        49144.0000    -5121.0000    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49144.0000    -5121.0000    3580.0000    550.0000  FL
    END-POINT        49144.0000    -5121.0000    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        49150.0000    -5972.0000    4295.0000    500.0000
    END-POINT        49150.0000    -5972.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
BEND
    END-POINT        49650.0000    -6472.0000    4295.0000    500.0000  PL
    END-POINT        49150.0000    -5972.0000    4295.0000    500.0000  PL
    CENTRE-POINT     49650.0000    -5972.0000    4295.0000
    SKEY  PBBW
    ITEM-CODE  OLYMPIC_Rev1-19337-9000
    ITEM-DESCRIPTION  PIPE BEND, PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  500.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE BEND
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  91.891585
GASKET
    END-POINT        49650.0000    -7956.0000    4295.0000    500.0000
    END-POINT        49650.0000    -7959.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17656
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
PIPE
    END-POINT        49650.0000    -7956.0000    4295.0000    500.0000
    END-POINT        49650.0000    -6475.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        49650.0000    -7956.0000    4295.0000    500.0000
    END-POINT        49650.0000    -7956.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -7956.0000    4295.0000    500.0000  FL
    END-POINT        49650.0000    -7956.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21373
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  37.6
GASKET
    END-POINT        49650.0000    -6472.0000    4295.0000    500.0000
    END-POINT        49650.0000    -6475.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17997
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        49650.0000    -6475.0000    4295.0000    500.0000  FL
    END-POINT        49650.0000    -6475.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        49650.0000    -6475.0000    4295.0000    500.0000
    END-POINT        49650.0000    -6475.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        49650.0000    -6472.0000    4295.0000    500.0000
    END-POINT        49650.0000    -6472.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -6472.0000    4295.0000    500.0000  FL
    END-POINT        49650.0000    -6472.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
GASKET
    END-POINT        49650.0000    -6960.0000    5245.0000    550.0000
    END-POINT        49650.0000    -6957.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        49650.0000    -6957.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -6957.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        49650.0000    -6957.0000    5245.0000    550.0000
    END-POINT        49650.0000    -6957.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49650.0000    -6957.0000    5245.0000    550.0000
    END-POINT        49650.0000    -5671.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
BEND
    END-POINT        49650.0000    -5671.0000    5245.0000    550.0000  PL
    END-POINT        49650.0000    -5121.0000    4695.0000    550.0000  PL
    CENTRE-POINT     49650.0000    -5121.0000    5245.0000
    SKEY  PBBW
    ITEM-CODE  OLYMPIC_Rev1-19339-9000
    ITEM-DESCRIPTION  PIPE BEND, PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  550.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE BEND
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  111.447999
WELD
    END-POINT        49650.0000    -5121.0000    4695.0000    550.0000
    END-POINT        49650.0000    -5121.0000    4695.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -5121.0000    4695.0000    550.0000  FL
    END-POINT        49650.0000    -5121.0000    4695.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        49650.0000    -5121.0000    4695.0000    550.0000
    END-POINT        49650.0000    -5121.0000    4692.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        49650.0000    -5121.0000    4692.0000    550.0000  FL
    END-POINT        49650.0000    -5121.0000    4692.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        49650.0000    -5121.0000    4692.0000    550.0000
    END-POINT        49650.0000    -5121.0000    4692.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49650.0000    -5121.0000    4692.0000    550.0000
    END-POINT        49650.0000    -5121.0000    3859.4000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
WELD
    END-POINT        49650.0000    -5121.0000    3859.4000    550.0000
    END-POINT        49650.0000    -5121.0000    3859.4000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        49650.0000    -5671.0000    5245.0000    550.0000
    END-POINT        49650.0000    -5671.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        50094.0000    -5121.0000    3580.0000    550.0000
    END-POINT        50094.0000    -5121.0000    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        50094.0000    -5121.0000    3580.0000    550.0000  FL
    END-POINT        50094.0000    -5121.0000    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        50097.0000    -5121.0000    3580.0000    550.0000
    END-POINT        50094.0000    -5121.0000    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        50097.0000    -5121.0000    3580.0000    550.0000  FL
    END-POINT        50097.0000    -5121.0000    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        50097.0000    -5121.0000    3580.0000    550.0000
    END-POINT        50097.0000    -5121.0000    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    BWL-01-3
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BWL-01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          49650.0000    -9975.0000    4295.0000
    CONNECTION-REFERENCE     AFU-001-N-1 5
END-CONNECTION-EQUIPMENT
    CO-ORDS          49650.0000    -8559.0000    4295.0000
    CONNECTION-REFERENCE     FT-001-N-1 10
GASKET
    END-POINT        49650.0000    -9972.0000    4295.0000    600.0000
    END-POINT        49650.0000    -9975.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-18002
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        49650.0000    -9822.0000    4295.0000    600.0000
    END-POINT        49650.0000    -9972.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-19341
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  141
WELD
    END-POINT        49650.0000    -9972.0000    4295.0000    600.0000
    END-POINT        49650.0000    -9972.0000    4295.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -9972.0000    4295.0000    600.0000  FL
    END-POINT        49650.0000    -9972.0000    4295.0000    600.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21539
    ITEM-DESCRIPTION  FLANGE, PN6, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN600, PN6, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  39
FLANGE
    END-POINT        49650.0000    -9822.0000    4295.0000    600.0000  FL
    END-POINT        49650.0000    -9822.0000    4295.0000    600.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18341
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN600, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  37.5
WELD
    END-POINT        49650.0000    -9822.0000    4295.0000    600.0000
    END-POINT        49650.0000    -9822.0000    4295.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        49650.0000    -9819.0000    4295.0000    600.0000
    END-POINT        49650.0000    -9822.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-18002
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
VALVE
    END-POINT        49650.0000    -9819.0000    4295.0000    600.0000  FL
    END-POINT        49650.0000    -9665.0000    4295.0000    600.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-21701
    ITEM-DESCRIPTION  BUTTERFLY VALVE WF, 5K, OWNER
    FABRICATION-ITEM
    TAG  BA-001
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CAST IRON
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_BUTTERFLY VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  191
    SPINDLE-DIRECTION  EAST
    DIRECTION  EAST
GASKET
    END-POINT        49650.0000    -9665.0000    4295.0000    600.0000
    END-POINT        49650.0000    -9662.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-18002
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        49650.0000    -9662.0000    4295.0000    600.0000
    END-POINT        49650.0000    -9562.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-19341
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  141
WELD
    END-POINT        49650.0000    -9662.0000    4295.0000    600.0000
    END-POINT        49650.0000    -9662.0000    4295.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -9662.0000    4295.0000    600.0000  FL
    END-POINT        49650.0000    -9662.0000    4295.0000    600.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18341
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN600, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  37.5
REDUCER-CONCENTRIC
    END-POINT        49650.0000    -9562.0000    4295.0000    600.0000  BW
    END-POINT        49650.0000    -9162.0000    4295.0000    500.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-21005
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  51.4
WELD
    END-POINT        49650.0000    -9562.0000    4295.0000    600.0000
    END-POINT        49650.0000    -9562.0000    4295.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        49650.0000    -9162.0000    4295.0000    500.0000
    END-POINT        49650.0000    -9162.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49650.0000    -9162.0000    4295.0000    500.0000
    END-POINT        49650.0000    -8562.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        49650.0000    -8562.0000    4295.0000    500.0000
    END-POINT        49650.0000    -8562.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -8562.0000    4295.0000    500.0000  FL
    END-POINT        49650.0000    -8562.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21373
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  37.6
GASKET
    END-POINT        49650.0000    -8562.0000    4295.0000    500.0000
    END-POINT        49650.0000    -8559.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17656
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
MATERIALS
ITEM-CODE  OLYMPIC_Rev1-19337
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-500
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-21007
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)
ITEM-CODE  Buttweld-550
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-19339
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  OLYMPIC_Rev1-18339
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN550, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-17999
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-21373
    DESCRIPTION  FLANGE, PN10, DIN
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN500, PN10, DIN
ITEM-CODE  OLYMPIC_Rev1-17656
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-22101
    DESCRIPTION  PNEUMATIC VALVES PV
    Schedule  
    PressureClass  10
    Material  STAINLESS STEEL
    ShortDescription  PNEUMATIC VALVES PV
ITEM-CODE  OLYMPIC_Rev1-21005
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)
ITEM-CODE  Buttweld-600
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-19341
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  OLYMPIC_Rev1-21539
    DESCRIPTION  FLANGE, PN6, DIN
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN600, PN6, DIN
ITEM-CODE  OLYMPIC_Rev1-18002
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  Tapweld-550
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Tapweld
ITEM-CODE  OLYMPIC_Rev1-21219
    DESCRIPTION  BUTTERFLY VALVE WF, 5K
    Schedule  
    PressureClass  5
    Material  CAST IRON
    ShortDescription  BUTTERFLY VALVE
ITEM-CODE  Tapweld-500
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Tapweld
ITEM-CODE  OLYMPIC_Rev1-18337
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN500, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-17997
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-18341
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN600, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-21701
    DESCRIPTION  BUTTERFLY VALVE WF, 5K, OWNER
    Schedule  
    PressureClass  5
    Material  CAST IRON
    ShortDescription  BUTTERFLY VALVE