ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    BWL-02-1
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BWL-02
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
FLANGE
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          53400.8254    -8570.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          52849.1746    -8570.0000    5245.0000    80.0000
    CONTINUATION 
WELD
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          53125.0000    -7169.0000    5245.0000
    PIPELINE-REFERENCE    DOS-05
END-CONNECTION-EQUIPMENT
    CO-ORDS          53125.0000    -7576.0000    4295.0000
    CONNECTION-REFERENCE     FT-002-N-2 10
GASKET
    END-POINT        48017.0000    -3112.4915    3580.0000    550.0000
    END-POINT        48020.0000    -3112.4915    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        48017.0000    -3112.4915    3580.0000    550.0000  FL
    END-POINT        48017.0000    -3112.4915    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        48017.0000    -3112.4915    3580.0000    550.0000
    END-POINT        48017.0000    -3112.4915    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        48020.0000    -3112.4915    3580.0000    550.0000
    END-POINT        48970.0000    -3112.4915    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          48497.5000    -3112.4915    3696.3974    500.0000
START-CO-ORDS      48020.0000          -3112.4915          3580.0000
WELD
    END-POINT        48020.0000    -3112.4915    3580.0000    550.0000
    END-POINT        48020.0000    -3112.4915    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        48020.0000    -3112.4915    3580.0000    550.0000  FL
    END-POINT        48020.0000    -3112.4915    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        48497.5000    -3112.4915    4692.0000    500.0000
    END-POINT        48497.5000    -3112.4915    4695.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17997
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
INDUCTION-START
    CO-ORDS          49194.5012    -3112.8461    5645.0000
    TEXT Induction Bend
PIPE
    END-POINT        49194.5012    -3112.8461    5645.0000    500.0000
    END-POINT        49047.5000    -3112.4915    5645.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
BEND
    END-POINT        49047.5000    -3112.4915    5645.0000    500.0000
    END-POINT        48497.5000    -3112.4915    5095.0000    500.0000
    CENTRE-POINT     48497.5000    -3112.4915    5645.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  550.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  101.080744
PIPE
    END-POINT        48497.5000    -3112.4915    5095.0000    500.0000
    END-POINT        48497.5000    -3112.4915    4695.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
INDUCTION-END
    CO-ORDS          48497.5000    -3112.4915    4695.0000
WELD
    END-POINT        48497.5000    -3112.4915    4695.0000    500.0000
    END-POINT        48497.5000    -3112.4915    4695.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        48497.5000    -3112.4915    4695.0000    500.0000  FL
    END-POINT        48497.5000    -3112.4915    4695.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
FLANGE
    END-POINT        48497.5000    -3112.4915    4692.0000    500.0000  FL
    END-POINT        48497.5000    -3112.4915    4692.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        48497.5000    -3112.4915    4692.0000    500.0000
    END-POINT        48497.5000    -3112.4915    4692.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        48497.5000    -3112.4915    4692.0000    500.0000
    END-POINT        48497.5000    -3112.4915    3696.3974    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        48497.5000    -3112.4915    3696.3974    500.0000
    END-POINT        48497.5000    -3112.4915    3696.3974    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        48970.0000    -3112.4915    3580.0000    550.0000
    END-POINT        48970.0000    -3112.4915    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        48970.0000    -3112.4915    3580.0000    550.0000  FL
    END-POINT        48970.0000    -3112.4915    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        48970.0000    -3112.4915    3580.0000    550.0000
    END-POINT        48973.0000    -3112.4915    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
VALVE
    END-POINT        48973.0000    -3112.4915    3580.0000    550.0000  FL
    END-POINT        49141.0000    -3112.4915    3580.0000    550.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-21219
    ITEM-DESCRIPTION  BUTTERFLY VALVE WF, 5K
    FABRICATION-ITEM
    TAG  BA-527F
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CAST IRON
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_BUTTERFLY VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  148
    SPINDLE-DIRECTION  UP
    DIRECTION  UP
GASKET
    END-POINT        49144.0000    -3112.4915    3580.0000    550.0000
    END-POINT        49141.0000    -3112.4915    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        49144.0000    -3112.4915    3580.0000    550.0000  FL
    END-POINT        49144.0000    -3112.4915    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        49144.0000    -3112.4915    3580.0000    550.0000
    END-POINT        49144.0000    -3112.4915    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49144.0000    -3112.4915    3580.0000    550.0000
    END-POINT        50094.0000    -3112.4915    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          49622.5000    -3252.1915    3821.9675    550.0000
WELD
    END-POINT        49194.5012    -3112.8461    5645.0000    500.0000
    END-POINT        49194.5012    -3112.8461    5645.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49194.5012    -3112.8461    5645.0000    500.0000  FL
    END-POINT        49194.5012    -3112.8461    5645.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
GASKET
    END-POINT        49197.5012    -3112.8533    5645.0000    500.0000
    END-POINT        49194.5012    -3112.8461    5645.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17997
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        49197.5012    -3112.8533    5645.0000    500.0000  FL
    END-POINT        49197.5012    -3112.8533    5645.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        49197.5012    -3112.8533    5645.0000    500.0000
    END-POINT        49197.5012    -3112.8533    5645.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49197.5012    -3112.8533    5645.0000    500.0000
    END-POINT        51608.2477    -3118.6681    5645.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        49622.5000    -3252.1915    3821.9675    550.0000
    END-POINT        49622.5000    -3252.1915    3821.9675    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49622.5000    -3252.1915    3821.9675    550.0000
    END-POINT        49622.5000    -3753.2198    4689.7740    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
GASKET
    END-POINT        49622.5000    -3754.7198    4692.3721    550.0000
    END-POINT        49622.5000    -3753.2198    4689.7740    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        49622.5000    -3754.7198    4692.3721    550.0000  FL
    END-POINT        49622.5000    -3754.7198    4692.3721    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        49622.5000    -3754.7198    4692.3721    550.0000
    END-POINT        49622.5000    -3754.7198    4692.3721    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          49622.5000    -3754.7198    4692.3721
    TEXT Induction Bend
PIPE
    END-POINT        49622.5000    -3754.7198    4692.3721    550.0000
    END-POINT        49622.5000    -4029.7198    5168.6860    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
BEND
    END-POINT        49622.5000    -4029.7198    5168.6860    550.0000
    END-POINT        50172.5000    -4304.7198    5645.0000    550.0000
    CENTRE-POINT     49622.5000    -4304.7198    5645.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  550.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  111.447999
INDUCTION-END
    CO-ORDS          50172.5000    -4304.7198    5645.0000
WELD
    END-POINT        49622.5000    -3753.2198    4689.7740    550.0000
    END-POINT        49622.5000    -3753.2198    4689.7740    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49622.5000    -3753.2198    4689.7740    550.0000  FL
    END-POINT        49622.5000    -3753.2198    4689.7740    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        50094.0000    -3112.4915    3580.0000    550.0000
    END-POINT        50094.0000    -3112.4915    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        50094.0000    -3112.4915    3580.0000    550.0000  FL
    END-POINT        50094.0000    -3112.4915    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        50094.0000    -3112.4915    3580.0000    550.0000
    END-POINT        50096.9999    -3112.5118    3580.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        50096.9999    -3112.5118    3580.0000    550.0000  FL
    END-POINT        50096.9999    -3112.5118    3580.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        50096.9999    -3112.5118    3580.0000    550.0000
    END-POINT        50096.9999    -3112.5118    3580.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        50172.5000    -4304.7198    5645.0000    550.0000
    END-POINT        50172.5000    -4304.7198    5645.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        50172.5000    -4304.7198    5645.0000    550.0000  FL
    END-POINT        50172.5000    -4304.7198    5645.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        50172.5000    -4304.7198    5645.0000    550.0000
    END-POINT        50175.5000    -4304.7304    5645.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        50175.5000    -4304.7304    5645.0000    550.0000  FL
    END-POINT        50175.5000    -4304.7304    5645.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        50175.5000    -4304.7304    5645.0000    550.0000
    END-POINT        50175.5000    -4304.7304    5645.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        50175.5000    -4304.7304    5645.0000    550.0000
    END-POINT        52172.4875    -4311.8028    5645.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
WELD
    END-POINT        51608.2477    -3118.6681    5645.0000    500.0000
    END-POINT        51608.2477    -3118.6681    5645.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        51608.2477    -3118.6681    5645.0000    500.0000  FL
    END-POINT        51608.2477    -3118.6681    5645.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
GASKET
    END-POINT        51611.2477    -3118.6754    5645.0000    500.0000
    END-POINT        51608.2477    -3118.6681    5645.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17997
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        51611.2477    -3118.6754    5645.0000    500.0000  FL
    END-POINT        51611.2477    -3118.6754    5645.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        51611.2477    -3118.6754    5645.0000    500.0000
    END-POINT        51611.2477    -3118.6754    5645.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          53125.0000    -3121.0000    5095.0000
    TEXT Induction Bend
BEND
    END-POINT        53125.0000    -3121.0000    5095.0000    500.0000
    END-POINT        52575.0000    -3121.0000    5645.0000    500.0000
    CENTRE-POINT     53125.0000    -3121.0000    5645.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  550.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  101.080744
PIPE
    END-POINT        52575.0000    -3121.0000    5645.0000    500.0000
    END-POINT        51611.2477    -3118.6754    5645.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
INDUCTION-END
    CO-ORDS          51611.2477    -3118.6754    5645.0000
WELD
    END-POINT        52172.4875    -4311.8028    5645.0000    550.0000
    END-POINT        52172.4875    -4311.8028    5645.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        52172.4875    -4311.8028    5645.0000    550.0000  FL
    END-POINT        52172.4875    -4311.8028    5645.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        52175.4874    -4311.8134    5645.0000    550.0000
    END-POINT        52172.4875    -4311.8028    5645.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        52175.4874    -4311.8134    5645.0000    550.0000  FL
    END-POINT        52175.4874    -4311.8134    5645.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        52175.4874    -4311.8134    5645.0000    550.0000
    END-POINT        52175.4874    -4311.8134    5645.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          52175.4874    -4311.8134    5645.0000
    TEXT Induction Bend
PIPE
    END-POINT        52175.4874    -4311.8134    5645.0000    550.0000
    END-POINT        52575.0000    -4313.2283    5645.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
BEND
    END-POINT        52575.0000    -4313.2283    5645.0000    550.0000
    END-POINT        53125.0000    -4852.5477    5537.1361    550.0000
    CENTRE-POINT     53125.0000    -4313.2283    5645.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  550.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  111.447999
INDUCTION-END
    CO-ORDS          53125.0000    -4852.5477    5537.1361
GASKET
    END-POINT        53125.0000    -7166.0000    5245.0000    550.0000
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
INDUCTION-START
    CO-ORDS          53125.0000    -4855.4894    5536.5478
    TEXT Induction Bend
PIPE
    END-POINT        53125.0000    -4855.4894    5536.5478    550.0000
    END-POINT        53125.0000    -6206.4220    5266.3613    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
BEND
    END-POINT        53125.0000    -6206.4220    5266.3613    550.0000
    END-POINT        53125.0000    -6422.1498    5245.0000    550.0000
    CENTRE-POINT     53125.0000    -6313.2283    5245.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   1131
    BEND-RADIUS  1100.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  28.010429
PIPE
    END-POINT        53125.0000    -6422.1498    5245.0000    550.0000
    END-POINT        53125.0000    -7166.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
INDUCTION-END
    CO-ORDS          53125.0000    -7166.0000    5245.0000
WELD
    END-POINT        53125.0000    -7166.0000    5245.0000    550.0000
    END-POINT        53125.0000    -7166.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -7166.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -7166.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        53125.0000    -7573.0000    4295.0000    500.0000
    END-POINT        53125.0000    -7576.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17656
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
PIPE
    END-POINT        53125.0000    -5625.0000    4295.0000    500.0000
    END-POINT        53125.0000    -7573.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        53125.0000    -7573.0000    4295.0000    500.0000
    END-POINT        53125.0000    -7573.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -7573.0000    4295.0000    500.0000  FL
    END-POINT        53125.0000    -7573.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21373
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  37.6
GASKET
    END-POINT        53125.0000    -5622.0000    4295.0000    500.0000
    END-POINT        53125.0000    -5625.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17997
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        53125.0000    -5625.0000    4295.0000    500.0000  FL
    END-POINT        53125.0000    -5625.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        53125.0000    -5625.0000    4295.0000    500.0000
    END-POINT        53125.0000    -5625.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        53125.0000    -5622.0000    4295.0000    500.0000
    END-POINT        53125.0000    -3674.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        53125.0000    -5622.0000    4295.0000    500.0000
    END-POINT        53125.0000    -5622.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -5622.0000    4295.0000    500.0000  FL
    END-POINT        53125.0000    -5622.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
GASKET
    END-POINT        53125.0000    -3674.0000    4295.0000    500.0000
    END-POINT        53125.0000    -3671.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17997
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        53125.0000    -3674.0000    4295.0000    500.0000  FL
    END-POINT        53125.0000    -3674.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        53125.0000    -3674.0000    4295.0000    500.0000
    END-POINT        53125.0000    -3674.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          53125.0000    -3671.0000    4295.0000
    TEXT Induction Bend
BEND
    END-POINT        53125.0000    -3671.0000    4295.0000    500.0000
    END-POINT        53125.0000    -3121.0000    4845.0000    500.0000
    CENTRE-POINT     53125.0000    -3121.0000    4295.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  550.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  101.080744
PIPE
    END-POINT        53125.0000    -3121.0000    4845.0000    500.0000
    END-POINT        53125.0000    -3121.0000    5092.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
INDUCTION-END
    CO-ORDS          53125.0000    -3121.0000    5092.0000
WELD
    END-POINT        53125.0000    -3671.0000    4295.0000    500.0000
    END-POINT        53125.0000    -3671.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -3671.0000    4295.0000    500.0000  FL
    END-POINT        53125.0000    -3671.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
GASKET
    END-POINT        53125.0000    -3121.0000    5092.0000    500.0000
    END-POINT        53125.0000    -3121.0000    5095.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17997
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
WELD
    END-POINT        53125.0000    -3121.0000    5095.0000    500.0000
    END-POINT        53125.0000    -3121.0000    5095.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -3121.0000    5095.0000    500.0000  FL
    END-POINT        53125.0000    -3121.0000    5095.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
FLANGE
    END-POINT        53125.0000    -3121.0000    5092.0000    500.0000  FL
    END-POINT        53125.0000    -3121.0000    5092.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18337
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  26.9
WELD
    END-POINT        53125.0000    -3121.0000    5092.0000    500.0000
    END-POINT        53125.0000    -3121.0000    5092.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        53125.0000    -4852.5477    5537.1361    550.0000
    END-POINT        53125.0000    -4855.4894    5536.5478    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        53125.0000    -4855.4894    5536.5478    550.0000  FL
    END-POINT        53125.0000    -4855.4894    5536.5478    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        53125.0000    -4855.4894    5536.5478    550.0000
    END-POINT        53125.0000    -4855.4894    5536.5478    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        53125.0000    -4852.5477    5537.1361    550.0000
    END-POINT        53125.0000    -4852.5477    5537.1361    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -4852.5477    5537.1361    550.0000  FL
    END-POINT        53125.0000    -4852.5477    5537.1361    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
PIPELINE-REFERENCE    BWL-02-2
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BWL-02
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          53125.0000    -8176.0000    4295.0000
    CONNECTION-REFERENCE     FT-002-N-1 10
END-CONNECTION-EQUIPMENT
    CO-ORDS          53125.0000    -10500.0000    4295.0000
    CONNECTION-REFERENCE     AFU-002-N-1 5
GASKET
    END-POINT        53125.0000    -10497.0000    4295.0000    600.0000
    END-POINT        53125.0000    -10500.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-18002
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        53125.0000    -10497.0000    4295.0000    600.0000
    END-POINT        53125.0000    -10344.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-19341
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  141
WELD
    END-POINT        53125.0000    -10497.0000    4295.0000    600.0000
    END-POINT        53125.0000    -10497.0000    4295.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -10497.0000    4295.0000    600.0000  FL
    END-POINT        53125.0000    -10497.0000    4295.0000    600.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21539
    ITEM-DESCRIPTION  FLANGE, PN6, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN600, PN6, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  39
GASKET
    END-POINT        53125.0000    -10341.0000    4295.0000    600.0000
    END-POINT        53125.0000    -10344.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-18002
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        53125.0000    -10344.0000    4295.0000    600.0000  FL
    END-POINT        53125.0000    -10344.0000    4295.0000    600.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18341
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN600, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  37.5
WELD
    END-POINT        53125.0000    -10344.0000    4295.0000    600.0000
    END-POINT        53125.0000    -10344.0000    4295.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        53125.0000    -10341.0000    4295.0000    600.0000  FL
    END-POINT        53125.0000    -10187.0000    4295.0000    600.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-21701
    ITEM-DESCRIPTION  BUTTERFLY VALVE WF, 5K, OWNER
    FABRICATION-ITEM
    TAG  BA-002
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CAST IRON
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_BUTTERFLY VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  191
    SPINDLE-DIRECTION  EAST
    DIRECTION  EAST
GASKET
    END-POINT        53125.0000    -10187.0000    4295.0000    600.0000
    END-POINT        53125.0000    -10184.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-18002
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        53125.0000    -10184.0000    4295.0000    600.0000
    END-POINT        53125.0000    -10087.0000    4295.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-19341
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  141
WELD
    END-POINT        53125.0000    -10184.0000    4295.0000    600.0000
    END-POINT        53125.0000    -10184.0000    4295.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -10184.0000    4295.0000    600.0000  FL
    END-POINT        53125.0000    -10184.0000    4295.0000    600.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18341
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN600, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  37.5
REDUCER-CONCENTRIC
    END-POINT        53125.0000    -10087.0000    4295.0000    600.0000  BW
    END-POINT        53125.0000    -9579.0000    4295.0000    500.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-19134
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  65.29
WELD
    END-POINT        53125.0000    -10087.0000    4295.0000    600.0000
    END-POINT        53125.0000    -10087.0000    4295.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        53125.0000    -9579.0000    4295.0000    500.0000
    END-POINT        53125.0000    -9579.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        53125.0000    -9579.0000    4295.0000    500.0000
    END-POINT        53125.0000    -8179.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        53125.0000    -8179.0000    4295.0000    500.0000
    END-POINT        53125.0000    -8179.0000    4295.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -8179.0000    4295.0000    500.0000  FL
    END-POINT        53125.0000    -8179.0000    4295.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21373
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  37.6
GASKET
    END-POINT        53125.0000    -8179.0000    4295.0000    500.0000
    END-POINT        53125.0000    -8176.0000    4295.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17656
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
PIPELINE-REFERENCE    BWL-02-3
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  BWL-02
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          53125.0000    -10500.0000    5245.0000
    CONNECTION-REFERENCE     AFU-002-N-2 5
FLANGE
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          53400.8254    -8570.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          52849.1746    -8570.0000    5245.0000    80.0000
    CONTINUATION 
WELD
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -7169.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          53125.0000    -8871.0000    5245.0000
    PIPELINE-REFERENCE    DOS-05
GASKET
    END-POINT        53125.0000    -10497.0000    5245.0000    600.0000
    END-POINT        53125.0000    -10500.0000    5245.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-18002
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        53125.0000    -10497.0000    5245.0000    600.0000
    END-POINT        53125.0000    -10397.0000    5245.0000    600.0000
    ITEM-CODE  OLYMPIC_Rev1-19341
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  141
WELD
    END-POINT        53125.0000    -10497.0000    5245.0000    600.0000
    END-POINT        53125.0000    -10497.0000    5245.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -10497.0000    5245.0000    600.0000  FL
    END-POINT        53125.0000    -10497.0000    5245.0000    600.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21539
    ITEM-DESCRIPTION  FLANGE, PN6, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN600, PN6, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  39
WELD
    END-POINT        53125.0000    -10397.0000    5245.0000    600.0000
    END-POINT        53125.0000    -10397.0000    5245.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        53125.0000    -10397.0000    5245.0000    600.0000  BW
    END-POINT        53125.0000    -9889.0000    5245.0000    500.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-19134
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  65.29
WELD
    END-POINT        53125.0000    -9889.0000    5245.0000    500.0000
    END-POINT        53125.0000    -9889.0000    5245.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        53125.0000    -9889.0000    5245.0000    500.0000
    END-POINT        53125.0000    -9735.5000    5245.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        53125.0000    -9735.5000    5245.0000    500.0000
    END-POINT        53125.0000    -9735.5000    5245.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -9735.5000    5245.0000    500.0000  FL
    END-POINT        53125.0000    -9735.5000    5245.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21373
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  37.6
GASKET
    END-POINT        53125.0000    -9732.5000    5245.0000    500.0000
    END-POINT        53125.0000    -9735.5000    5245.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17656
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
VALVE
    END-POINT        53125.0000    -9732.5000    5245.0000    500.0000  FL
    END-POINT        53125.0000    -9605.5000    5245.0000    500.0000  FL
    SKEY  VYFL
    ITEM-CODE  OLYMPIC_Rev1-22101
    ITEM-DESCRIPTION  PNEUMATIC VALVES PV
    FABRICATION-ITEM
    TAG  PV-002
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STAINLESS STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PNEUMATIC VALVES PV
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  244
    FLOW  1
GASKET
    END-POINT        53125.0000    -9605.5000    5245.0000    500.0000
    END-POINT        53125.0000    -9602.5000    5245.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-17656
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        53125.0000    -9602.5000    5245.0000    500.0000  FL
    END-POINT        53125.0000    -9602.5000    5245.0000    500.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21373
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN500, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  37.6
WELD
    END-POINT        53125.0000    -9602.5000    5245.0000    500.0000
    END-POINT        53125.0000    -9602.5000    5245.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        53125.0000    -9602.5000    5245.0000    500.0000
    END-POINT        53125.0000    -9456.0000    5245.0000    500.0000
    ITEM-CODE  OLYMPIC_Rev1-19337
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  117
WELD
    END-POINT        53125.0000    -9456.0000    5245.0000    500.0000
    END-POINT        53125.0000    -9456.0000    5245.0000    500.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        53125.0000    -8948.0000    5245.0000    550.0000  BW
    END-POINT        53125.0000    -9456.0000    5245.0000    500.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-19124
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  62.27
WELD
    END-POINT        53125.0000    -8948.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8948.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        53125.0000    -8948.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8874.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
WELD
    END-POINT        53125.0000    -8874.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8874.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -8874.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -8874.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
GASKET
    END-POINT        53125.0000    -8871.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8874.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-17999
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
MATERIALS
ITEM-CODE  OLYMPIC_Rev1-19337
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-500
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-18337
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN500, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-17997
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-21373
    DESCRIPTION  FLANGE, PN10, DIN
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN500, PN10, DIN
ITEM-CODE  OLYMPIC_Rev1-17656
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  Tapweld-500
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Tapweld
ITEM-CODE  OLYMPIC_Rev1-19339
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-550
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-18339
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN550, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-17999
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-21219
    DESCRIPTION  BUTTERFLY VALVE WF, 5K
    Schedule  
    PressureClass  5
    Material  CAST IRON
    ShortDescription  BUTTERFLY VALVE
ITEM-CODE  Tapweld-550
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Tapweld
ITEM-CODE  OLYMPIC_Rev1-19134
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)
ITEM-CODE  Buttweld-600
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-19341
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  OLYMPIC_Rev1-18341
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN600, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-18002
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-21701
    DESCRIPTION  BUTTERFLY VALVE WF, 5K, OWNER
    Schedule  
    PressureClass  5
    Material  CAST IRON
    ShortDescription  BUTTERFLY VALVE
ITEM-CODE  OLYMPIC_Rev1-21539
    DESCRIPTION  FLANGE, PN6, DIN
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN600, PN6, DIN
ITEM-CODE  OLYMPIC_Rev1-22101
    DESCRIPTION  PNEUMATIC VALVES PV
    Schedule  
    PressureClass  10
    Material  STAINLESS STEEL
    ShortDescription  PNEUMATIC VALVES PV
ITEM-CODE  OLYMPIC_Rev1-19124
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)