ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    DOS-05-1
    DATE-DMY 02/14/20
    ATTRIBUTE1  
    ATTRIBUTE2  DOS-05
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
WELD
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
    CONTINUATION 
WELD
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000  FL
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  2.82
    CONTINUATION 
GASKET
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000
    END-POINT        50018.0000    -8361.0000    5245.0000    80.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          49925.8254    -8361.0000    5245.0000
    PIPELINE-REFERENCE    DOS-05-3
WELD
    END-POINT        49374.1746    -8361.0000    5245.0000    80.0000
    END-POINT        49374.1746    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        49374.1746    -8361.0000    5245.0000    80.0000
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
    CONTINUATION 
WELD
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000  FL
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  2.82
    CONTINUATION 
GASKET
    END-POINT        49282.0000    -8361.0000    5245.0000    80.0000
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          49374.1746    -8361.0000    5245.0000
    PIPELINE-REFERENCE    DOS-05-4
PIPE
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          49374.1746    -8361.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          49925.8254    -8361.0000    5245.0000    80.0000
START-CO-ORDS      49650.0000          -8636.0000          5245.0000
WELD
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
PIPELINE-REFERENCE    DOS-05-2
    DATE-DMY 02/14/20
    ATTRIBUTE1  
    ATTRIBUTE2  DOS-05
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
WELD
    END-POINT        52849.1746    -8570.0000    5245.0000    80.0000
    END-POINT        52849.1746    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000
    END-POINT        52849.1746    -8570.0000    5245.0000    80.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
    CONTINUATION 
WELD
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000  FL
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  2.82
    CONTINUATION 
GASKET
    END-POINT        52757.0000    -8570.0000    5245.0000    80.0000
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          52849.1746    -8570.0001    5245.0000
    PIPELINE-REFERENCE    DOS-05-6
WELD
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
    CONTINUATION 
WELD
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000  FL
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  2.82
    CONTINUATION 
GASKET
    END-POINT        53493.0000    -8570.0000    5245.0000    80.0000
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          53400.8254    -8570.0001    5245.0000
    PIPELINE-REFERENCE    DOS-05-5
PIPE
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    ITEM-CODE  OLYMPIC_Rev1-19339
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          53400.8254    -8570.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          52849.1746    -8570.0000    5245.0000    80.0000
WELD
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
FLANGE
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18339
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
WELD
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    DOS-05-3
    DATE-DMY 02/14/20
    ATTRIBUTE1  
    ATTRIBUTE2  DOS-05
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
WELD
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          49374.1746    -8361.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          49925.8254    -8361.0000    5245.0000    80.0000
    CONTINUATION 
WELD
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
GASKET
    END-POINT        49650.0000    -8639.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
WELD
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        49374.1746    -8361.0000    5245.0000    80.0000
    END-POINT        49374.1746    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          49925.8254    -8361.0000    5245.0000
    PIPELINE-REFERENCE    DOS-05-1
PIPE
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-19317
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
FLANGE
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000  FL
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18373
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  2.82
WELD
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    DOS-05-4
    DATE-DMY 02/14/20
    ATTRIBUTE1  
    ATTRIBUTE2  DOS-05
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-CLOSED
    CO-ORDS          49264.0000    -8361.0000    5245.0000
WELD
    END-POINT        49374.1746    -8361.0000    5245.0000    80.0000
    END-POINT        49374.1746    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          49374.1746    -8361.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          49925.8254    -8361.0000    5245.0000    80.0000
    CONTINUATION 
WELD
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000  FL
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
GASKET
    END-POINT        49650.0000    -8639.0000    5245.0000    550.0000
    END-POINT        49650.0000    -8636.0000    5245.0000    550.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
WELD
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        49925.8254    -8361.0000    5245.0000    80.0000
    END-POINT        50015.0000    -8361.0000    5245.0000    80.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
    CONTINUATION 
WELD
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000
    END-POINT        49650.0000    -6986.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          49374.1746    -8361.0000    5245.0000
    PIPELINE-REFERENCE    DOS-05-1
FLANGE-BLIND
    END-POINT        49282.0000    -8361.0000    5245.0000    80.0000  FL
    END-POINT        49264.0000    -8361.0000    5245.0000    80.0000  FL
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18450
    ITEM-DESCRIPTION  FLANGE BLIND, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE BLIND 10K
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.87
GASKET
    END-POINT        49282.0000    -8361.0000    5245.0000    80.0000
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-17630
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000  FL
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18373
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  2.82
WELD
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        49374.1746    -8361.0000    5245.0000    80.0000
    END-POINT        49285.0000    -8361.0000    5245.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-19317
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
PIPELINE-REFERENCE    DOS-05-5
    DATE-DMY 02/14/20
    ATTRIBUTE1  
    ATTRIBUTE2  DOS-05
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
WELD
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          53400.8254    -8570.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          52849.1746    -8570.0000    5245.0000    80.0000
    CONTINUATION 
WELD
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
GASKET
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8848.0000    5245.0000    550.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
WELD
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        52849.1746    -8570.0000    5245.0000    80.0000
    END-POINT        52849.1746    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          53400.8254    -8570.0001    5245.0000
    PIPELINE-REFERENCE    DOS-05-2
PIPE
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-19317
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
FLANGE
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000  FL
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18373
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  2.82
WELD
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000
    END-POINT        53490.0000    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    DOS-05-6
    DATE-DMY 02/14/20
    ATTRIBUTE1  
    ATTRIBUTE2  DOS-05
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-CLOSED
    CO-ORDS          52739.0000    -8570.0000    5245.0000
WELD
    END-POINT        52849.1746    -8570.0000    5245.0000    80.0000
    END-POINT        52849.1746    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    TAP-CONNECTION  
    CO-ORDS          53400.8254    -8570.0000    5245.0000    80.0000
    TAP-CONNECTION  
    CO-ORDS          52849.1746    -8570.0000    5245.0000    80.0000
    CONTINUATION 
WELD
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
GASKET
    END-POINT        53125.0000    -8845.0000    5245.0000    550.0000
    END-POINT        53125.0000    -8848.0000    5245.0000    550.0000
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
WELD
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000  FL
    END-POINT        53125.0000    -7195.0000    5245.0000    550.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN550, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  34.1
    CONTINUATION 
WELD
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    END-POINT        53400.8254    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          52849.1746    -8570.0001    5245.0000
    PIPELINE-REFERENCE    DOS-05-2
FLANGE-BLIND
    END-POINT        52757.0000    -8570.0000    5245.0000    80.0000  FL
    END-POINT        52739.0000    -8570.0000    5245.0000    80.0000  FL
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18450
    ITEM-DESCRIPTION  FLANGE BLIND, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE BLIND 10K
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.87
GASKET
    END-POINT        52757.0000    -8570.0000    5245.0000    80.0000
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-17630
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
PIPE
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000
    END-POINT        52849.1746    -8570.0000    5245.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-19317
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
WELD
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000  FL
    END-POINT        52760.0000    -8570.0000    5245.0000    80.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18373
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  2.82
MATERIALS
ITEM-CODE  OLYMPIC_Rev1-19339
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-550
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-18339
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN550, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-18373
    DESCRIPTION  FLANGE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN80, 10K, JIS
ITEM-CODE  Buttweld-80
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-19317
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  OLYMPIC_Rev1-17630
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-18450
    DESCRIPTION  FLANGE BLIND, 10K, JIS
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE BLIND 10K