ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    DOS-04-1
    DATE-DMY 02/14/20
    ATTRIBUTE1  
    ATTRIBUTE2  DOS-04
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          41562.5000    9855.0000    21882.0000
    CONNECTION-REFERENCE     ODU-001-N-2 10
END-CONNECTION-EQUIPMENT
    CO-ORDS          40062.5000    9855.0000    21882.0000
    CONNECTION-REFERENCE     EDU-001-N-5 10
GASKET
    END-POINT        40065.5000    9855.0000    21882.0000    125.0000
    END-POINT        40062.5000    9855.0000    21882.0000    125.0000
    ITEM-CODE  OLYMPIC_Rev1-17636
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
PIPE
    END-POINT        40065.5000    9855.0000    21882.0000    125.0000
    END-POINT        41332.5000    9855.0000    21882.0000    125.0000
    ITEM-CODE  OLYMPIC_Rev1-19321
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  21.7
WELD
    END-POINT        40065.5000    9855.0000    21882.0000    125.0000
    END-POINT        40065.5000    9855.0000    21882.0000    125.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        40065.5000    9855.0000    21882.0000    125.0000  FL
    END-POINT        40065.5000    9855.0000    21882.0000    125.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21357
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN125, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  5.41
REDUCER-CONCENTRIC
    END-POINT        41332.5000    9855.0000    21882.0000    125.0000  BW
    END-POINT        41459.5000    9855.0000    21882.0000    80.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-20855
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  2.27
WELD
    END-POINT        41332.5000    9855.0000    21882.0000    125.0000
    END-POINT        41332.5000    9855.0000    21882.0000    125.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        41559.5000    9855.0000    21882.0000    80.0000
    END-POINT        41459.5000    9855.0000    21882.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-19317
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
START-CO-ORDS      41559.5000          9855.0000          21882.0000
WELD
    END-POINT        41459.5000    9855.0000    21882.0000    80.0000
    END-POINT        41459.5000    9855.0000    21882.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        41559.5000    9855.0000    21882.0000    80.0000
    END-POINT        41559.5000    9855.0000    21882.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        41559.5000    9855.0000    21882.0000    80.0000  FL
    END-POINT        41559.5000    9855.0000    21882.0000    80.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21353
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.61
GASKET
    END-POINT        41559.5000    9855.0000    21882.0000    80.0000
    END-POINT        41562.5000    9855.0000    21882.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-17630
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
PIPELINE-REFERENCE    DOS-04-2
    DATE-DMY 02/14/20
    ATTRIBUTE1  
    ATTRIBUTE2  DOS-04
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
END-CONNECTION-EQUIPMENT
    CO-ORDS          41562.5000    12600.0000    21882.0000
    CONNECTION-REFERENCE     ODU-002-N-2 10
END-CONNECTION-EQUIPMENT
    CO-ORDS          40062.5000    12600.0000    21882.0000
    CONNECTION-REFERENCE    EDU 10
GASKET
    END-POINT        40065.5000    12600.0000    21882.0000    125.0000
    END-POINT        40062.5000    12600.0000    21882.0000    125.0000
    ITEM-CODE  OLYMPIC_Rev1-17636
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
WELD
    END-POINT        40065.5000    12600.0000    21882.0000    125.0000
    END-POINT        40065.5000    12600.0000    21882.0000    125.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        40065.5000    12600.0000    21882.0000    125.0000  FL
    END-POINT        40065.5000    12600.0000    21882.0000    125.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21357
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN125, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  5.41
PIPE
    END-POINT        41332.5000    12600.0000    21882.0000    125.0000
    END-POINT        40065.5000    12600.0000    21882.0000    125.0000
    ITEM-CODE  OLYMPIC_Rev1-19321
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  21.7
REDUCER-CONCENTRIC
    END-POINT        41332.5000    12600.0000    21882.0000    125.0000  BW
    END-POINT        41459.5000    12600.0000    21882.0000    80.0000  BW
    SKEY  RCBW
    ITEM-CODE  OLYMPIC_Rev1-20855
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  2.27
WELD
    END-POINT        41332.5000    12600.0000    21882.0000    125.0000
    END-POINT        41332.5000    12600.0000    21882.0000    125.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        41559.5000    12600.0000    21882.0000    80.0000
    END-POINT        41459.5000    12600.0000    21882.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-19317
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  11.3
WELD
    END-POINT        41459.5000    12600.0000    21882.0000    80.0000
    END-POINT        41459.5000    12600.0000    21882.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        41559.5000    12600.0000    21882.0000    80.0000
    END-POINT        41559.5000    12600.0000    21882.0000    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        41559.5000    12600.0000    21882.0000    80.0000  FL
    END-POINT        41559.5000    12600.0000    21882.0000    80.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21353
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN80, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.61
GASKET
    END-POINT        41559.5000    12600.0000    21882.0000    80.0000
    END-POINT        41562.5000    12600.0000    21882.0000    80.0000
    ITEM-CODE  OLYMPIC_Rev1-17630
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
MATERIALS
ITEM-CODE  OLYMPIC_Rev1-19317
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-80
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-20855
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)
ITEM-CODE  Buttweld-125
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-19321
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  OLYMPIC_Rev1-21357
    DESCRIPTION  FLANGE, PN10, DIN
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN125, PN10, DIN
ITEM-CODE  OLYMPIC_Rev1-17636
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  OLYMPIC_Rev1-21353
    DESCRIPTION  FLANGE, PN10, DIN
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN80, PN10, DIN
ITEM-CODE  OLYMPIC_Rev1-17630
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET