ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    EBL-02
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  EBL-02
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  OLYMPIC_Rev1
    INSULATION-SPEC  
    TRACING-SPEC  
WELD
    END-POINT        48144.0001    -8397.0000    4800.0000    750.0000
    END-POINT        48144.0001    -8397.0000    4800.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        48144.0001    -5696.7000    4800.0000    750.0000
    END-POINT        48144.0001    -8397.0000    4800.0000    750.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
    TAP-CONNECTION  
    CO-ORDS          48144.0001    -6200.0000    4571.4000    600.0000
    CONTINUATION 
WELD
    END-POINT        48144.0001    -5696.7000    4800.0000    750.0000
    END-POINT        48144.0001    -5696.7000    4800.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
REDUCER-CONCENTRIC
    END-POINT        48144.0001    -5696.7000    4800.0000    750.0000  BW
    END-POINT        48144.0001    -5087.1000    4800.0000    600.0000  BW
    SKEY  RCBW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  96.47
    CONTINUATION 
WELD
    END-POINT        48144.0001    -5087.1000    4800.0000    600.0000
    END-POINT        48144.0001    -5087.1000    4800.0000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        48144.0001    -6200.0000    4571.4000    600.0000
    END-POINT        48144.0001    -6200.0000    4571.4000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        48144.0001    -6200.0000    3080.0000    600.0000
    END-POINT        48144.0001    -6200.0000    4571.4000    600.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  141
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          48144.0001    -8397.0000    4800.0000
    PIPELINE-REFERENCE    EBL-01
WELD
    END-POINT        51900.0000    -8420.4690    4800.0000    750.0000
    END-POINT        51900.0000    -8420.4690    4800.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        51900.0000    -1870.0000    4800.0000    750.0000
    END-POINT        51900.0000    -8420.4690    4800.0000    750.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
    TAP-CONNECTION  
    CO-ORDS          51900.0000    -5121.0000    4540.9698    550.0000
    TAP-CONNECTION  
    CO-ORDS          51900.0000    -6200.0000    4571.4000    600.0000
    TAP-CONNECTION  
    CO-ORDS          51900.0000    -4200.0000    4571.4000    600.0000
    TAP-CONNECTION  
    CO-ORDS          51900.0000    -3121.0000    4540.9698    550.0000
    TAP-CONNECTION  
    CO-ORDS          52246.1220    -4975.0000    4800.0000    300.0000
    CONTINUATION 
WELD
    END-POINT        51900.0000    -5121.0000    4540.9698    550.0000
    END-POINT        51900.0000    -5121.0000    4540.9698    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        51900.0000    -5121.0000    4304.0000    550.0000
    END-POINT        51900.0000    -5121.0000    4540.9698    550.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  129
    CONTINUATION 
WELD
    END-POINT        51900.0000    -5121.0000    4304.0000    550.0000
    END-POINT        51900.0000    -5121.0000    4304.0000    550.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        51900.0000    -6200.0000    4571.4000    600.0000
    END-POINT        51900.0000    -6200.0000    4571.4000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
INDUCTION-START
    CO-ORDS          51900.0000    -6200.0000    4571.4000
    TEXT Induction Bend
PIPE
    END-POINT        51900.0000    -6200.0000    4571.4000    600.0000
    END-POINT        51900.0000    -6200.0000    2100.0000    600.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  141
    TAP-CONNECTION  
    CO-ORDS          51900.0000    -6200.0000    3080.0000    600.0000
BEND
    END-POINT        51900.0000    -6200.0000    2100.0000    600.0000
    END-POINT        52500.0000    -6200.0000    1500.0000    600.0000
    CENTRE-POINT     51900.0000    -6200.0000    1500.0000
    SKEY  PB
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  600.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  132.889369
PIPE
    END-POINT        52500.0000    -6200.0000    1500.0000    600.0000
    END-POINT        56130.0000    -6200.0000    1500.0000    600.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  141
    TAP-CONNECTION  
    CO-ORDS          53680.0000    -5940.1106    1500.0000    300.0000
    TAP-CONNECTION  
    CO-ORDS          54630.0000    -5972.8155    1500.0000    400.0000
    TAP-CONNECTION  
    CO-ORDS          54165.1450    -5984.6104    1284.6104    15.0000
INDUCTION-END
    CO-ORDS          56130.0000    -6200.0000    1500.0000
    CONTINUATION 
WELD
    END-POINT        51900.0000    -4200.0000    4571.4000    600.0000
    END-POINT        51900.0000    -4200.0000    4571.4000    600.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          51900.0000    -8420.4690    4800.0000
    PIPELINE-REFERENCE    EBL-01
FLANGE
    END-POINT        52500.7381    -9150.0000    4800.0000    350.0000  FL
    END-POINT        52500.7381    -9150.0000    4800.0000    350.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
    CONTINUATION 
WELD
    END-POINT        52500.7381    -9150.0000    4800.0000    350.0000
    END-POINT        52500.7381    -9150.0000    4800.0000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
INDUCTION-START
    CO-ORDS          53680.0000    -7202.0000    3600.0000
    TEXT Induction Bend
PIPE
    END-POINT        53680.0000    -7202.0000    3600.0000    350.0000
    END-POINT        53680.0000    -8800.0000    3600.0000    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
BEND
    END-POINT        53680.0000    -8800.0000    3600.0000    350.0000
    END-POINT        53680.0000    -9150.0000    3950.0000    350.0000
    CENTRE-POINT     53680.0000    -9150.0000    3600.0000
    SKEY  PB
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  350.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  44.532076
PIPE
    END-POINT        53680.0000    -9150.0000    3950.0000    350.0000
    END-POINT        53680.0000    -9150.0000    4450.0000    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
BEND
    END-POINT        53680.0000    -9150.0000    4450.0000    350.0000
    END-POINT        53330.0000    -9150.0000    4800.0000    350.0000
    CENTRE-POINT     53680.0000    -9150.0000    4800.0000
    SKEY  PB
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  350.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  44.532076
PIPE
    END-POINT        53330.0000    -9150.0000    4800.0000    350.0000
    END-POINT        52500.7381    -9150.0000    4800.0000    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
INDUCTION-END
    CO-ORDS          52500.7381    -9150.0000    4800.0000
    CONTINUATION 
WELD
    END-POINT        53680.0000    -7202.0000    3600.0000    350.0000
    END-POINT        53680.0000    -7202.0000    3600.0000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
REDUCER-CONCENTRIC
    END-POINT        53680.0000    -7202.0000    3600.0000    350.0000  BW
    END-POINT        53680.0000    -6871.8000    3600.0000    250.0000  BW
    SKEY  RCBW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  23.6
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          52500.7381    -9150.0000    4800.0000
    PIPELINE-REFERENCE    EBL-01
WELD
    END-POINT        51900.0000    -9835.3598    4800.0000    750.0000
    END-POINT        51900.0000    -9835.3598    4800.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        51900.0000    -9835.3598    4800.0000    750.0000
    END-POINT        51900.0000    -12221.8044    4800.0000    750.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
    TAP-CONNECTION  
    CO-ORDS          51900.0000    -10732.3598    4800.0000    15.0000
    TAP-CONNECTION  
    CO-ORDS          51900.0000    -11924.8044    4800.0000    40.0000
    TAP-CONNECTION  
    CO-ORDS          52280.6205    -9982.3598    4800.0000    25.0000
    CONTINUATION 
WELD
    END-POINT        51900.0000    -11924.8044    4800.0000    40.0000
    END-POINT        51900.0000    -11924.8044    4800.0000    40.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        51900.0000    -11924.8044    4800.0000    40.0000
    END-POINT        51900.0000    -11924.8044    5902.2036    40.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  4.1
    CONTINUATION 
WELD
    END-POINT        51900.0000    -11924.8044    5902.2036    40.0000
    END-POINT        51900.0000    -11924.8044    5902.2036    40.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        51900.0000    -10732.3598    4800.0000    15.0000
    END-POINT        51900.0000    -10732.3598    4800.0000    15.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        51900.0000    -10732.3598    4800.0000    15.0000
    END-POINT        52389.0000    -10732.3598    3953.0272    15.0000
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  1.31
    CONTINUATION 
WELD
    END-POINT        52280.6205    -9982.3598    4800.0000    25.0000
    END-POINT        52280.6205    -9982.3598    4800.0000    25.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          51900.0000    -9835.3598    4800.0000
    PIPELINE-REFERENCE    EBL-01
BEND
    END-POINT        48144.0001    -8400.0000    4800.0000    750.0000  PL
    END-POINT        48144.0001    -9150.0000    5550.0000    750.0000  PL
    CENTRE-POINT     48144.0001    -9150.0000    4800.0000
    SKEY  PBBW
    ITEM-CODE  OLYMPIC_Rev1-19347-9000
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  750.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  207.345115
WELD
    END-POINT        48144.0001    -8400.0000    4800.0000    750.0000
    END-POINT        48144.0001    -8400.0000    4800.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        48144.0001    -8400.0000    4800.0000    750.0000  FL
    END-POINT        48144.0001    -8400.0000    4800.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
GASKET
    END-POINT        48144.0001    -8400.0000    4800.0000    750.0000
    END-POINT        48144.0001    -8397.0000    4800.0000    750.0000
    ITEM-CODE  OLYMPIC_Rev1-18008
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        48144.0001    -8397.0000    4800.0000    750.0000  FL
    END-POINT        48144.0001    -8397.0000    4800.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
START-CO-ORDS      48144.0001          -8397.0000          4800.0000
FLANGE
    END-POINT        48144.0001    -9150.0000    5550.0000    750.0000  FL
    END-POINT        48144.0001    -9150.0000    5550.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
GASKET
    END-POINT        48144.0001    -9150.0000    5550.0000    750.0000
    END-POINT        48144.0001    -9150.0000    5553.0000    750.0000
    ITEM-CODE  OLYMPIC_Rev1-18008
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
WELD
    END-POINT        48144.0001    -9150.0000    5550.0000    750.0000
    END-POINT        48144.0001    -9150.0000    5550.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        48144.0001    -9150.0000    5553.0000    750.0000  FL
    END-POINT        48144.0001    -9150.0000    5553.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
WELD
    END-POINT        48144.0001    -9150.0000    5553.0000    750.0000
    END-POINT        48144.0001    -9150.0000    5553.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          48144.0001    -9150.0000    5553.0000
    TEXT Induction Bend
PIPE
    END-POINT        48144.0001    -9150.0000    5553.0000    750.0000
    END-POINT        48144.0001    -9150.0000    5850.0000    750.0000
    ITEM-CODE  OLYMPIC_Rev1-19347
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
BEND
    END-POINT        48144.0001    -9150.0000    5850.0000    750.0000
    END-POINT        48894.0001    -9150.0000    6600.0000    750.0000
    CENTRE-POINT     48144.0001    -9150.0000    6600.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19347
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  750.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  207.345115
INDUCTION-END
    CO-ORDS          48894.0001    -9150.0000    6600.0000
WELD
    END-POINT        48894.0001    -9150.0000    6600.0000    750.0000
    END-POINT        48894.0001    -9150.0000    6600.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        48894.0001    -9150.0000    6600.0000    750.0000  FL
    END-POINT        48894.0001    -9150.0000    6600.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
GASKET
    END-POINT        48897.0001    -9150.0000    6600.0000    750.0000
    END-POINT        48894.0001    -9150.0000    6600.0000    750.0000
    ITEM-CODE  OLYMPIC_Rev1-18008
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        48897.0001    -9150.0000    6600.0000    750.0000  FL
    END-POINT        48897.0001    -9150.0000    6600.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
WELD
    END-POINT        48897.0001    -9150.0000    6600.0000    750.0000
    END-POINT        48897.0001    -9150.0000    6600.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          50319.6699    -9150.0000    6380.3301
    TEXT Induction Bend
BEND
    END-POINT        50319.6699    -9150.0000    6380.3301    750.0000
    END-POINT        49789.3398    -9150.0000    6600.0000    750.0000
    CENTRE-POINT     50100.0000    -9150.0000    6600.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19347
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   4500
    BEND-RADIUS  750.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  103.672558
PIPE
    END-POINT        49789.3398    -9150.0000    6600.0000    750.0000
    END-POINT        48897.0001    -9150.0000    6600.0000    750.0000
    ITEM-CODE  OLYMPIC_Rev1-19347
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
INDUCTION-END
    CO-ORDS          48897.0001    -9150.0000    6600.0000
WELD
    END-POINT        50319.6699    -9150.0000    6380.3301    750.0000
    END-POINT        50319.6699    -9150.0000    6380.3301    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        50319.6699    -9150.0000    6380.3301    750.0000
    END-POINT        50321.7912    -9150.0000    6378.2088    750.0000
    ITEM-CODE  OLYMPIC_Rev1-18008
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        50319.6699    -9150.0000    6380.3301    750.0000  FL
    END-POINT        50319.6699    -9150.0000    6380.3301    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
FLANGE
    END-POINT        50321.7912    -9150.0000    6378.2088    750.0000  FL
    END-POINT        50321.7912    -9150.0000    6378.2088    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
WELD
    END-POINT        50321.7912    -9150.0000    6378.2088    750.0000
    END-POINT        50321.7912    -9150.0000    6378.2088    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        50321.7912    -9150.0000    6378.2088    750.0000
    END-POINT        51446.1862    -9150.0000    5253.8138    750.0000
    ITEM-CODE  OLYMPIC_Rev1-19347
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
WELD
    END-POINT        51446.1862    -9150.0000    5253.8138    750.0000
    END-POINT        51446.1862    -9150.0000    5253.8138    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        51446.1862    -9150.0000    5253.8138    750.0000  FL
    END-POINT        51446.1862    -9150.0000    5253.8138    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
GASKET
    END-POINT        51448.3075    -9150.0000    5251.6925    750.0000
    END-POINT        51446.1862    -9150.0000    5253.8138    750.0000
    ITEM-CODE  OLYMPIC_Rev1-18008
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        51448.3075    -9150.0000    5251.6925    750.0000  FL
    END-POINT        51448.3075    -9150.0000    5251.6925    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
WELD
    END-POINT        51448.3075    -9150.0000    5251.6925    750.0000
    END-POINT        51448.3075    -9150.0000    5251.6925    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        51448.3075    -9150.0000    5251.6925    750.0000
    END-POINT        51803.2797    -9150.0000    4896.7203    750.0000
    ITEM-CODE  OLYMPIC_Rev1-19347
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
WELD
    END-POINT        51803.2797    -9150.0000    4896.7203    750.0000
    END-POINT        51803.2797    -9150.0000    4896.7203    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        51900.0000    -8423.4690    4800.0000    750.0000
    END-POINT        51900.0000    -8423.4690    4800.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        51900.0000    -8423.4690    4800.0000    750.0000  FL
    END-POINT        51900.0000    -8423.4690    4800.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
GASKET
    END-POINT        51900.0000    -8423.4690    4800.0000    750.0000
    END-POINT        51900.0000    -8420.4690    4800.0000    750.0000
    ITEM-CODE  OLYMPIC_Rev1-18008
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
PIPE
    END-POINT        51900.0000    -8423.4690    4800.0000    750.0000
    END-POINT        51900.0000    -9832.3598    4800.0000    750.0000
    ITEM-CODE  OLYMPIC_Rev1-19347
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  176
    TAP-CONNECTION  
    CO-ORDS          52236.9691    -9150.0000    4800.0000    350.0000
    TAP-CONNECTION  
    CO-ORDS          51803.2797    -9150.0000    4896.7203    750.0000
FLANGE
    END-POINT        51900.0000    -8420.4690    4800.0000    750.0000  FL
    END-POINT        51900.0000    -8420.4690    4800.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
GASKET
    END-POINT        51900.0000    -9832.3598    4800.0000    750.0000
    END-POINT        51900.0000    -9835.3598    4800.0000    750.0000
    ITEM-CODE  OLYMPIC_Rev1-18008
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        51900.0000    -9835.3598    4800.0000    750.0000  FL
    END-POINT        51900.0000    -9835.3598    4800.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
WELD
    END-POINT        51900.0000    -9832.3598    4800.0000    750.0000
    END-POINT        51900.0000    -9832.3598    4800.0000    750.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        51900.0000    -9832.3598    4800.0000    750.0000  FL
    END-POINT        51900.0000    -9832.3598    4800.0000    750.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18347
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN750, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  45.4
WELD
    END-POINT        52236.9691    -9150.0000    4800.0000    350.0000
    END-POINT        52236.9691    -9150.0000    4800.0000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Tapweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        52497.7381    -9150.0000    4800.0000    350.0000
    END-POINT        52236.9691    -9150.0000    4800.0000    350.0000
    ITEM-CODE  OLYMPIC_Rev1-19331
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
WELD
    END-POINT        52497.7381    -9150.0000    4800.0000    350.0000
    END-POINT        52497.7381    -9150.0000    4800.0000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        52497.7381    -9150.0000    4800.0000    350.0000  FL
    END-POINT        52497.7381    -9150.0000    4800.0000    350.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-18331
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
GASKET
    END-POINT        52497.7381    -9150.0000    4800.0000    350.0000
    END-POINT        52500.7381    -9150.0000    4800.0000    350.0000
    ITEM-CODE  OLYMPIC_Rev1-17991
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
MATERIALS
ITEM-CODE  OLYMPIC_Rev1-18347
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN750, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-18008
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  Buttweld-750
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-19347
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Tapweld-750
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Tapweld
ITEM-CODE  Tapweld-350
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Tapweld
ITEM-CODE  OLYMPIC_Rev1-19331
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-350
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-18331
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN350, 5K, JIS
ITEM-CODE  OLYMPIC_Rev1-17991
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET