ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    HDL-01-1
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  HDL-01
    PROJECT-IDENTIFIER  
    REVISION  0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          12616.3340    16394.6856    35637.6249
END-CONNECTION-EQUIPMENT
    CO-ORDS          37262.5000    9365.0000    23932.0000
    CONNECTION-REFERENCE     EDU-001-N-6 10
INDUCTION-START
    CO-ORDS          12616.3340    16394.6856    35637.6249
    TEXT Induction Bend
BEND
    END-POINT        12616.3340    16394.6856    35637.6249    250.0000
    END-POINT        12866.3340    16394.6856    35887.6249    250.0000
    CENTRE-POINT     12616.3340    16394.6856    35887.6249
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
BEND
    END-POINT        12866.3340    16394.6856    35887.6249    250.0000
    END-POINT        13116.3340    16394.6856    35637.6249    250.0000
    CENTRE-POINT     13116.3340    16394.6856    35887.6249
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        13116.3340    16394.6856    35637.6249    250.0000
    END-POINT        13116.3340    16394.6856    26319.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        13116.3340    16394.6856    26319.2632    250.0000
    END-POINT        13116.3340    16144.6856    26069.2632    250.0000
    CENTRE-POINT     13116.3340    16394.6856    26069.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        13116.3340    16144.6856    26069.2632    250.0000
    END-POINT        13116.3340    11421.7339    26069.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        13116.3340    11421.7339    26069.2632    250.0000
    END-POINT        13116.3340    11171.7339    25819.2632    250.0000
    CENTRE-POINT     13116.3340    11171.7339    26069.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        13116.3340    11171.7339    25819.2632    250.0000
    END-POINT        13116.3340    11171.7339    25219.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        13116.3340    11171.7339    25219.2632    250.0000
    END-POINT        13366.3340    11171.7339    24969.2632    250.0000
    CENTRE-POINT     13116.3340    11171.7339    24969.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        13366.3340    11171.7339    24969.2632    250.0000
    END-POINT        36609.5000    11171.7339    24969.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        36609.5000    11171.7339    24969.2632    250.0000
    END-POINT        36859.5000    10921.7339    24969.2632    250.0000
    CENTRE-POINT     36859.5000    11171.7339    24969.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        36859.5000    10921.7339    24969.2632    250.0000
    END-POINT        36859.5000    9615.0000    24969.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        36859.5000    9615.0000    24969.2632    250.0000
    END-POINT        36859.5000    9365.0000    24719.2632    250.0000
    CENTRE-POINT     36859.5000    9365.0000    24969.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        36859.5000    9365.0000    24719.2632    250.0000
    END-POINT        36859.5000    9365.0000    24182.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        36859.5000    9365.0000    24182.0000    250.0000
    END-POINT        37109.5000    9365.0000    23932.0000    250.0000
    CENTRE-POINT     36859.5000    9365.0000    23932.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        37109.5000    9365.0000    23932.0000    250.0000
    END-POINT        37259.5000    9365.0000    23932.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
INDUCTION-END
    CO-ORDS          37259.5000    9365.0000    23932.0000
WELD
    END-POINT        37259.5000    9365.0000    23932.0000    250.0000
    END-POINT        37259.5000    9365.0000    23932.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        37259.5000    9365.0000    23932.0000    250.0000  FL
    END-POINT        37259.5000    9365.0000    23932.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21363
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  11.85
START-CO-ORDS      37259.5000          9365.0000          23932.0000
GASKET
    END-POINT        37259.5000    9365.0000    23932.0000    250.0000
    END-POINT        37262.5000    9365.0000    23932.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17646
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
PIPELINE-REFERENCE    HDL-01-2
    DATE-DMY 02/20/20
    ATTRIBUTE1  
    ATTRIBUTE2  HDL-01
    PROJECT-IDENTIFIER  
    REVISION  0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          12616.3340    16894.8596    35637.6117
END-CONNECTION-EQUIPMENT
    CO-ORDS          37262.5000    12110.0000    23932.0000
    CONNECTION-REFERENCE    EDU 10
INDUCTION-START
    CO-ORDS          12616.3340    16894.8596    35637.6117
    TEXT Induction Bend
BEND
    END-POINT        12616.3340    16894.8596    35637.6117    250.0000
    END-POINT        12866.3340    16894.8596    35887.6117    250.0000
    CENTRE-POINT     12616.3340    16894.8596    35887.6117
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
BEND
    END-POINT        12866.3340    16894.8596    35887.6117    250.0000
    END-POINT        13116.3340    16894.8530    35637.6117    250.0000
    CENTRE-POINT     13116.3340    16894.8596    35887.6117
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        13116.3340    11821.7339    25569.2632    250.0000
    END-POINT        13116.3340    16644.7124    25569.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        13116.3340    16644.7124    25569.2632    250.0000
    END-POINT        13116.3340    16894.5929    25826.9936    250.0000
    CENTRE-POINT     13116.3340    16902.5661    25569.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9177
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.705497
PIPE
    END-POINT        13116.3340    16894.8530    35637.6117    250.0000
    END-POINT        13116.3340    16894.5929    25826.9936    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        13116.3340    11571.7339    25319.2632    250.0000
    END-POINT        13116.3340    11821.7339    25569.2632    250.0000
    CENTRE-POINT     13116.3340    11571.7339    25569.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        36609.5000    11571.7339    24969.2632    250.0000
    END-POINT        13366.3340    11571.7339    24969.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        36859.5000    11821.7339    24969.2632    250.0000
    END-POINT        36609.5000    11571.7339    24969.2632    250.0000
    CENTRE-POINT     36859.5000    11571.7339    24969.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        36859.5000    11860.0000    24969.2632    250.0000
    END-POINT        36859.5000    11821.7339    24969.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        36859.5000    12110.0000    24719.2632    250.0000
    END-POINT        36859.5000    11860.0000    24969.2632    250.0000
    CENTRE-POINT     36859.5000    12110.0000    24969.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        36859.5000    12110.0000    24182.0000    250.0000
    END-POINT        36859.5000    12110.0000    24719.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        37109.5000    12110.0000    23932.0000    250.0000
    END-POINT        36859.5000    12110.0000    24182.0000    250.0000
    CENTRE-POINT     36859.5000    12110.0000    23932.0000
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        37259.5000    12110.0000    23932.0000    250.0000
    END-POINT        37109.5000    12110.0000    23932.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        13366.3340    11571.7339    24969.2632    250.0000
    END-POINT        13116.3340    11571.7339    25219.2632    250.0000
    CENTRE-POINT     13116.3340    11571.7339    24969.2632
    SKEY  PB
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        13116.3340    11571.7339    25219.2632    250.0000
    END-POINT        13116.3340    11571.7339    25319.2632    250.0000
    ITEM-CODE  OLYMPIC_Rev1-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
INDUCTION-END
    CO-ORDS          37259.5000    12110.0000    23932.0000
WELD
    END-POINT        37259.5000    12110.0000    23932.0000    250.0000
    END-POINT        37259.5000    12110.0000    23932.0000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        37259.5000    12110.0000    23932.0000    250.0000  FL
    END-POINT        37259.5000    12110.0000    23932.0000    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  OLYMPIC_Rev1-21363
    ITEM-DESCRIPTION  FLANGE, PN10, DIN
    FABRICATION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, PN10, DIN
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  11.85
GASKET
    END-POINT        37259.5000    12110.0000    23932.0000    250.0000
    END-POINT        37262.5000    12110.0000    23932.0000    250.0000
    ITEM-CODE  OLYMPIC_Rev1-17646
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  OLYMPIC_Rev1
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
MATERIALS
ITEM-CODE  OLYMPIC_Rev1-19327
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-250
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  OLYMPIC_Rev1-21363
    DESCRIPTION  FLANGE, PN10, DIN
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN250, PN10, DIN
ITEM-CODE  OLYMPIC_Rev1-17646
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET