ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    UserDefinedLine-1
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
END-POSITION-NULL
    CO-ORDS          -3725.0433    638.6826    3488.2908
WELD
    END-POINT        -4041.1680    638.6826    3617.9400    250.0000
    END-POINT        -4041.1680    638.6826    3617.9400    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4041.1680    638.6826    3617.9400    250.0000  FL
    END-POINT        -4041.1680    638.6826    3617.9400    250.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
    CONTINUATION 
GASKET
    END-POINT        -4042.6122    638.6826    3620.5695    250.0000
    END-POINT        -4041.1680    638.6826    3617.9400    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
VALVE
    END-POINT        -4042.6122    638.6826    3620.5695    250.0000  FL
    END-POINT        -4112.8971    638.6826    3748.5384    250.0000  FL
    SKEY  VCFL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STAINLESS  STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_CHECK VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  65
    FLOW  1
    CONTINUATION 
GASKET
    END-POINT        -4112.8971    638.6826    3748.5384    250.0000
    END-POINT        -4114.3413    638.6826    3751.1679    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4041.1680    638.6826    3617.9400
    PIPELINE-REFERENCE    
INDUCTION-START
    CO-ORDS          -3725.0432    638.6826    3488.2908
    TEXT Induction Bend
PIPE
    END-POINT        -3725.0432    638.6826    3488.2908    250.0000
    END-POINT        -3822.0432    638.6826    3488.2908    250.0000
    ITEM-CODE  STRIKER_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        -3822.0432    638.6826    3488.2908    250.0000
    END-POINT        -4041.1680    638.6826    3617.9400    250.0000
    CENTRE-POINT     -3969.9603    638.6826    3488.2908
    SKEY  PB
    ITEM-CODE  STRIKER_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   6122
    BEND-RADIUS  250.0000
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  15.814414
INDUCTION-END
    CO-ORDS          -4041.1680    638.6826    3617.9400
PIPELINE-REFERENCE    UserDefinedLine-2
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  STRIKER_Rev0
WELD
    END-POINT        -4214.9191    638.6826    3934.2918    250.0000
    END-POINT        -4214.9191    638.6826    3934.2918    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4214.9191    638.6826    3934.2918    250.0000  FL
    END-POINT        -4214.9191    638.6826    3934.2918    250.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
    CONTINUATION 
GASKET
    END-POINT        -4214.9191    638.6826    3934.2918    250.0000
    END-POINT        -4216.3633    638.6826    3936.9213    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
VALVE
    END-POINT        -4249.0987    638.6826    3996.5233    250.0000  FL
    END-POINT        -4216.3633    638.6826    3936.9213    250.0000  FL
    SKEY  VYFL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CAST IRON
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_BUTTERFLY VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  18
    SPINDLE-DIRECTION  SOUTH
    DIRECTION  SOUTH
    CONTINUATION 
GASKET
    END-POINT        -4250.5430    638.6826    3999.1527    250.0000
    END-POINT        -4249.0987    638.6826    3996.5233    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4214.9191    638.6826    3934.2918
    PIPELINE-REFERENCE    
WELD
    END-POINT        -4114.3413    638.6826    3751.1679    250.0000
    END-POINT        -4114.3413    638.6826    3751.1679    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4114.3413    638.6826    3751.1679    250.0000  FL
    END-POINT        -4114.3413    638.6826    3751.1679    250.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
    CONTINUATION 
GASKET
    END-POINT        -4112.8971    638.6826    3748.5384    250.0000
    END-POINT        -4114.3413    638.6826    3751.1679    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
VALVE
    END-POINT        -4042.6122    638.6826    3620.5695    250.0000  FL
    END-POINT        -4112.8971    638.6826    3748.5384    250.0000  FL
    SKEY  VCFL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STAINLESS  STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_CHECK VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  65
    FLOW  1
    CONTINUATION 
GASKET
    END-POINT        -4042.6122    638.6826    3620.5695    250.0000
    END-POINT        -4041.1680    638.6826    3617.9400    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4114.3413    638.6826    3751.1679
    PIPELINE-REFERENCE    
PIPE
    END-POINT        -4114.3413    638.6826    3751.1679    250.0000
    END-POINT        -4214.9191    638.6826    3934.2918    250.0000
    ITEM-CODE  STRIKER_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
PIPELINE-REFERENCE    UserDefinedLine-3
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
WELD
    END-POINT        -4250.5430    638.6826    3999.1527    250.0000
    END-POINT        -4250.5430    638.6826    3999.1527    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4250.5430    638.6826    3999.1527    250.0000  FL
    END-POINT        -4250.5430    638.6826    3999.1527    250.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
    CONTINUATION 
GASKET
    END-POINT        -4250.5430    638.6826    3999.1527    250.0000
    END-POINT        -4249.0987    638.6826    3996.5233    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
VALVE
    END-POINT        -4249.0987    638.6826    3996.5233    250.0000  FL
    END-POINT        -4216.3633    638.6826    3936.9213    250.0000  FL
    SKEY  VYFL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CAST IRON
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_BUTTERFLY VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  18
    SPINDLE-DIRECTION  SOUTH
    DIRECTION  SOUTH
    CONTINUATION 
GASKET
    END-POINT        -4214.9191    638.6826    3934.2918    250.0000
    END-POINT        -4216.3633    638.6826    3936.9213    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4250.5430    638.6826    3999.1528
    PIPELINE-REFERENCE    
WELD
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000  FL
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000  FL
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
    CONTINUATION 
WELD
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
INDUCTION-START
    CO-ORDS          -4312.2933    638.6826    4292.5185
    TEXT Induction Bend
PIPE
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000
    END-POINT        -4312.2933    638.6826    4239.8543    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        -4312.2933    638.6826    4239.8543    250.0000
    END-POINT        -4250.5430    638.6826    3999.1527    250.0000
    CENTRE-POINT     -4312.2933    638.6826    4111.5827
    SKEY  PB
    FABRICATION-ITEM
    ANGLE   2878
    BEND-RADIUS  500.0000
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  14.866743
INDUCTION-END
    CO-ORDS          -4250.5430    638.6826    3999.1527
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    638.6826    4292.5185
    PIPELINE-REFERENCE    Buttweld
INDUCTION-START
    CO-ORDS          -4312.2933    638.6826    4292.5185
    TEXT Induction Bend
PIPE
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000
    END-POINT        -4312.2933    638.6826    4239.8543    250.0000
    ITEM-CODE  STRIKER_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        -4312.2933    638.6826    4239.8543    250.0000
    END-POINT        -4250.5430    638.6826    3999.1527    250.0000
    CENTRE-POINT     -4312.2933    638.6826    4111.5827
    SKEY  PB
    ITEM-CODE  STRIKER_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   2878
    BEND-RADIUS  500.0000
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  14.866743
INDUCTION-END
    CO-ORDS          -4250.5430    638.6826    3999.1527
PIPELINE-REFERENCE    UserDefinedLine-4
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
WELD
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000  FL
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000  FL
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
    CONTINUATION 
WELD
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    638.6826    4295.5185
    PIPELINE-REFERENCE    
WELD
    END-POINT        -4312.2933    638.6826    4625.7185    350.0000
    END-POINT        -4312.2933    638.6826    4625.7185    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -4312.2933    638.6826    4625.7185    350.0000
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
    CONTINUATION 
WELD
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000  FL
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    638.6826    4625.7185
    PIPELINE-REFERENCE    UserDefinedLine-5
REDUCER-CONCENTRIC
    END-POINT        -4312.2933    638.6826    4625.7185    350.0000  BW
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000  BW
    SKEY  RCBW
    ITEM-CODE  STRIKER_Rev0-20893
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  23.6
PIPELINE-REFERENCE    UserDefinedLine-5
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  STRIKER_Rev0
WELD
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000  FL
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000  FL
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
    CONTINUATION 
WELD
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    638.6826    5176.5220
    PIPELINE-REFERENCE    
WELD
    END-POINT        -4312.2933    638.6826    4625.7185    350.0000
    END-POINT        -4312.2933    638.6826    4625.7185    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
REDUCER-CONCENTRIC
    END-POINT        -4312.2933    638.6826    4625.7185    350.0000  BW
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000  BW
    SKEY  RCBW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  23.6
    CONTINUATION 
WELD
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000  FL
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    638.6826    4292.5185    250.0000
    END-POINT        -4312.2933    638.6826    4295.5185    250.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    638.6826    4625.7185
    PIPELINE-REFERENCE    UserDefinedLine-4
PIPE
    END-POINT        -4312.2933    638.6826    4625.7185    350.0000
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    ITEM-CODE  STRIKER_Rev0-19331
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
PIPELINE-REFERENCE    UserDefinedLine-6
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
WELD
    END-POINT        -4312.2933    288.6826    6043.4996    350.0000
    END-POINT        -4312.2933    288.6826    6043.4996    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    288.6826    6043.4996    350.0000  FL
    END-POINT        -4312.2933    288.6826    6043.4996    350.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    288.6826    6043.4996    350.0000
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000  FL
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
    CONTINUATION 
WELD
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    288.6826    6043.4996
    PIPELINE-REFERENCE    
WELD
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000  FL
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000  FL
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
    CONTINUATION 
WELD
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    END-POINT        -4312.2933    638.6826    5176.5219    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    638.6826    5179.5220
    PIPELINE-REFERENCE    
INDUCTION-START
    CO-ORDS          -4312.2933    638.6826    5179.5219
    TEXT Induction Bend
PIPE
    END-POINT        -4312.2933    638.6826    5179.5219    350.0000
    END-POINT        -4312.2933    638.6826    5693.4996    350.0000
    ITEM-CODE  STRIKER_Rev0-19331
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
BEND
    END-POINT        -4312.2933    638.6826    5693.4996    350.0000
    END-POINT        -4312.2933    288.6826    6043.4996    350.0000
    CENTRE-POINT     -4312.2933    638.6826    6043.4996
    SKEY  PB
    ITEM-CODE  STRIKER_Rev0-19331
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  350.0000
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  44.532076
INDUCTION-END
    CO-ORDS          -4312.2933    288.6826    6043.4996
PIPELINE-REFERENCE    UserDefinedLine-7
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
WELD
    END-POINT        -4312.2933    188.6826    6043.4996    350.0000
    END-POINT        -4312.2933    188.6826    6043.4996    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    END-POINT        -4312.2933    188.6826    6043.4996    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
    CONTINUATION 
WELD
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000  FL
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    288.6826    6043.4996    350.0000
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    188.6826    6043.4996
    PIPELINE-REFERENCE    
WELD
    END-POINT        -4312.2933    -192.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -192.3174    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -192.3174    6043.4996    450.0000
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  105
    CONTINUATION 
WELD
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    -192.3174    6043.4996
    PIPELINE-REFERENCE    UserDefinedLine-8
REDUCER-CONCENTRIC
    END-POINT        -4312.2933    -192.3174    6043.4996    450.0000  BW
    END-POINT        -4312.2933    188.6826    6043.4996    350.0000  BW
    SKEY  RCBW
    ITEM-CODE  STRIKER_Rev0-20910
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  35.7
PIPELINE-REFERENCE    UserDefinedLine-8
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  STRIKER_Rev0
WELD
    END-POINT        -4312.2933    -192.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -192.3174    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
REDUCER-CONCENTRIC
    END-POINT        -4312.2933    -192.3174    6043.4996    450.0000  BW
    END-POINT        -4312.2933    188.6826    6043.4996    350.0000  BW
    SKEY  RCBW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  35.7
    CONTINUATION 
WELD
    END-POINT        -4312.2933    188.6826    6043.4996    350.0000
    END-POINT        -4312.2933    188.6826    6043.4996    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    END-POINT        -4312.2933    188.6826    6043.4996    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
    CONTINUATION 
WELD
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    END-POINT        -4312.2933    285.6826    6043.4996    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    -192.3174    6043.4996
    PIPELINE-REFERENCE    UserDefinedLine-7
WELD
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
WELD
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    -642.3174    6043.4996
    PIPELINE-REFERENCE    
PIPE
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -192.3174    6043.4996    450.0000
    ITEM-CODE  STRIKER_Rev0-19335
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  105
PIPELINE-REFERENCE    UserDefinedLine-9
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  STRIKER_Rev0
WELD
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
WELD
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    END-POINT        -4312.2933    -642.3174    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    -645.3174    6043.4996
    PIPELINE-REFERENCE    
WELD
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
WELD
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    -1650.7053    6043.4996
    PIPELINE-REFERENCE    
PIPE
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -645.3174    6043.4996    450.0000
    ITEM-CODE  STRIKER_Rev0-19335
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  105
PIPELINE-REFERENCE    UserDefinedLine-10
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  STRIKER_Rev0
WELD
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
WELD
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    -2749.2053    6043.4996
    PIPELINE-REFERENCE    
WELD
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
WELD
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -1650.7053    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    -1653.7053    6043.4996
    PIPELINE-REFERENCE    
PIPE
    END-POINT        -4312.2933    -1653.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000
    ITEM-CODE  STRIKER_Rev0-19335
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  105
PIPELINE-REFERENCE    UserDefinedLine-11
    DATE-DMY 04/22/20
    ATTRIBUTE1  
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  STRIKER_Rev0
WELD
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
WELD
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000
    END-POINT        -4312.2933    -2749.2053    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    -2752.2053    6043.4996
    PIPELINE-REFERENCE    
WELD
    END-POINT        -4312.2933    -3850.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -3850.7053    6043.4996    450.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        -4312.2933    -3850.7053    6043.4996    450.0000  FL
    END-POINT        -4312.2933    -3850.7053    6043.4996    450.0000  BW
    SKEY  FLBL
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN450, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  24.8
    CONTINUATION 
GASKET
    END-POINT        -4312.2933    -3850.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -3853.7053    6043.4996    450.0000
    ERECTION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          -4312.2933    -3850.7053    6043.4996
    PIPELINE-REFERENCE    
PIPE
    END-POINT        -4312.2933    -3850.7053    6043.4996    450.0000
    END-POINT        -4312.2933    -2752.2053    6043.4996    450.0000
    ITEM-CODE  STRIKER_Rev0-19335
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  STRIKER_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  105
MATERIALS
ITEM-CODE  STRIKER_Rev0-19327
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  STRIKER_Rev0-20893
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)
ITEM-CODE  STRIKER_Rev0-19331
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  STRIKER_Rev0-20910
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)
ITEM-CODE  STRIKER_Rev0-19335
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE